.user_purchases {
    h3 {
        color: $blue;
    }
    .ticket-assignment {
        font-size: 80%;
        margin-left: 1em;
        p {
            margin: 0;
        }
    }
    .purchase {
        @include grid-row();
        background: $background1;
        margin-bottom: 30px;
        .alert {
            border-radius: 0px;
        }
        > .details {
            @include grid-column($columns:12);
            > * {
                margin: 0;
                padding: 0;
                border-bottom: 1px dotted $blue;
            }
            dt {
                clear: left;
                float: left;
                width: 35%;
                font-weight: bold;
                color: $blue;
            }
            dd {
                float: right;
                width: 65%;
            }
        }

        > .paymentaddress {
            @media #{$medium-up} {
                @include grid-column($columns:6);
            }
        }

        > .tickets {
            @media #{$medium-up} {
                @include grid-column($columns:6);
            }

            .details {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 80%;
                display: inline-block;
            }

            .ticket-assignment {
                margin-bottom: 1em;
            }

            .canceled {
                background: $red;
                color: #FFF;
                padding: 3px 5px 5px 5px;
                float: right;
            }

            ul {
                list-style: none;
                padding: 0;
            }
        }
    }
}

.user_tickets {
    dt {
        font-weight: bold;
        float: left;
        width: 33%;
    }
    dd {
        float: right;
        width: 64%;
        margin: 0;
    }
    dl {
        overflow: hidden;
        width: 100%;
        border-bottom: 1px dotted $grey;
    }
    .canceled {
        background: $red;
        color: #FFF;
        padding: 3px 5px 5px;
        margin-right: 1em;
    }
    .ticket {
        margin-bottom: 4em;
    }
}

.cmsplugin {
    &.user-list {
        ul {
            padding-left: 0;
            width: 100%;
            overflow: hidden;

            li {
                display: block;
                float: left;
                width: 170px;
                @media #{$medium-up} {
                    width: 217px;
                }
                margin-bottom: 10px;
                
                div {
                    text-align: center;
                }

                .name {
                    font-size: 1.5rem;
                    line-height: 1.8rem;
                    height: 3.6rem;
                    margin: 5px 5px 0px 5px;
                    text-align: center;
                }

                .avatar {
                    height: 130px;

                    & > img {
                        display: block;
                        border-radius: 50%;
                        height: 130px;
                        width: 130px;
                        margin: auto;
                    }
                }
            }
        }
    }
}
