.alert {
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    margin: 5px 0;
    clear: both;

    &.alert-error {
        background: $red;
        color: $background-color;
    }

    &.alert-success {
        background: $green;
        color: $green-dark;
    }

    &.alert-warn, &.alert-warning {
        background: lighten($green, 10);
        color: $green-dark;
    }
}
