.checkin {
    .searchresults {
        .left-border {
            border-left: 1px solid $table-border;
        }
        td {
            vertical-align: top;
        }
        dl {
            margin: 0;

            dt {
                float: left;
                clear: left;
                font-weight: bold;
                margin-right: 0.5em;
            }
        }
    }
}
