#main .cmsplugin-text {
    h2 {
        margin-top: 50px;
        &:first-child {
            margin-top: 0;
        }
    }
    ol {
        padding-left: 23px;
    }
    ul {
        margin-left: 0;
        padding-left: 0;
        list-style: none;
        li {
            display: table-row;
            &:before {
                display: table-cell;
                width: 23px;
                content: '-';
            }
        }
    }
}
