fieldset {
    background: $background-color-light;
    padding: 95px 35px 35px 35px;
    margin-bottom: 20px;
    position: relative;
    border: none;
}

legend {
    color: $infoColor;
    display: block;
    text-align: left;
    border-radius: 10px;
    position: absolute;
    top: 35px;
    left: 35px;
    font-weight: 600;
}

label {
    font-weight: normal;
}

.form-horizontal {
    .form-group {
        width: 100%;
        overflow: hidden;
        padding: 5px 0;
        margin-bottom: 12px;
    }
    label,
    input,
    select {
        text-align: left;
    }
    label {
        @media #{$medium-up} {
            float: left;
            width: 18%;
            body.with-sidebar & {
                width: 25%;
            }
        }
        padding-top: 8px;
        &.checkbox {
            width: 100% !important;
            display: block;
            float: none;
        }
        > input {
            display: inline-block;
            margin-right: 10px;
        }
    }
    .checkbox label {
        width: 100%;
        display: block;
        float: none;
        > input {
            display: inline-block;
            margin-right: 10px;
        }
    }

    .checkbox .help-block {
        display: block;
    }

    select {
        background-color: $background-color;
    }
    .controls {
        > ul {
            list-style: none;
            margin: 0;
            padding-left: 0;
            label {
                display: inline-block;
                width: auto;
                float: none;
            }
        }
        @media #{$medium-up} {
            float: left;
            width: 80%;
            body.with-sidebar & {
                width: 73%;
            }
            margin-left: 2%;
        }
        input[type=text],
        input[type=email],
        input[type=password],
        select,
        textarea {
            box-sizing: border-box;
            padding: 8px 1%;
            line-height: 150%;
            font-size: 16px;
            font-size: 1.6rem;
            border: 1px solid $inputBorder;
            border-radius: 5px;
            &:focus {
                border-color: $baseColor;
                outline-color: lighten($baseColor, 30);
            }
        }
        input[type=text],
        input[type=email],
        input[type=password],
        select,
        textarea {
            width: 100%;
            @media #{$medium-up} {
                width: 50%;
                body.with-sidebar & {
                    width: 95%;
                }
                display: inline-block;
            }
        }
        .help-block {
            //display: inline-block;
            body.with-sidebar & {
                display: block;
            }
            margin-left: 10px;
            &.error {
                color: $highlightColor;
            }
        }
        p[id^="hint_"] {
            display: block;
            margin-left: 0;
            margin-top: 5px;
            font-size: 90%;
        }
    }
}

.file-outer-wrapper {
    display: inline-block;

    .input-wrapper {
        float: left;
        display: inline-block;
        overflow: hidden;
        position: relative;
    }
    .status {
        display: inline-block;
        padding: 15px 10px;
        font-size: 80%;
    }
    input {
        display: block;
        opacity: 0;
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        filter: alpha(opacity=0);
    }
}

.form-group.has-error .controls input,
.form-group.has-error .controls select,
.form-group.has-error .controls textarea {
    border-color: $inputBorderErr;
}

.form-actions {
    text-align: left;
    padding-top: 10px;
    > *, .controls > * {
        margin-right: 10px;
    }
    ul {
        list-style: none;
    }
}

@mixin btn($bg: $baseColor, $fg: #fff, $hbg: $primaryBtnBg){
    background-color: $bg;
    color: $fg;
    &:hover {
        background-color: $hbg;
    }
    &.inverted {
        background-color: $fg;
        color: $bg;
        &:hover {
            color: $hbg;
        }
    }
}

.btn {
    border-radius: $global-radius;
    border: none;
    display: inline-block;
    font-size: 1.6rem;
    padding: 8px 20px 12px 20px;
    text-decoration: none;

    @include btn;

}
.btn-success {
    @include btn(
        $bg: $freshgreen,
        $hbg: $freshgreen-dark
    )
}

.btn-warning {
    @include btn(
        $bg: $green,
        $hbg: $green-dark
    )
}

.btn-danger {
    @include btn(
        $bg: $red,
        $hbg: $highlightColor
    )
}

.btn-primary {
    @include btn(
        $bg: $primaryBtnBg,
        $fg: $primaryBtnFg,
        $hbg: $highlightColor
    )
}

.ui-menu-item a {
    text-align: left;
    font-size: 1.3rem;
}
