body.reviews {
    table {
        .track {
            display: block;
            font-size: 80%;
        }
    }

    .kind-talk td.title a,
    .legend .kind-talk {
        color: $red;
    }

    .kind-training td.title a,
    .legend .kind-training {
        color: $blue;
    }

    .kind-poster td.title a,
    .legend .kind-poster {
        color: darken($green, 20);
    }

    #timeline {
        list-style: none;
        padding-left: 0;
        li {
            border: 1px solid darken($background-color-light, 10);
            margin-bottom: 5px;
        }

        dl {
            padding: 0;
            margin: 0;
        }

        dt, dd {
            padding: 5px;
        }

        dt {
            background: $background-color-light;
            a {
                text-decoration: none;
            }
        }
    }

    &.proposaldetails,
    &.versiondetails,
    &.reviewform,
    &.update-proposal,
    &.versions {
        #details {
            @media #{$medium-up} {
                @include grid-column($columns:9);
                padding-right: 20px;
            }
        }
        #sidebar {
            font-size: 80%;
            opacity: 0.8;
            @media #{$medium-up} {
                @include grid-column($columns:3);
            }
        }
    }

    &.proposaldetails {
        #review {
            padding: 1rem;
            background: $yellow;
            border: 1px solid darken($yellow, 10);
            h2 {
                margin-top: 0;
            }
            &.reviewed {
                background: lighten($green, 10);
                border: 1px solid $green;
            }
        }
    }
}
