.sessionpage {
    .meta {
        border-bottom: 1px dotted $inputBorder;
        padding-bottom: 10px;
        margin-bottom: 10px;
        dl {
            width: 100%;
            overflow: hidden;
            margin: 0px;
        }
        dt, dd {
            padding: 5px 0;
            margin: 0;
        }
        dt {
            float: left;
            font-weight: bold;
            width: 30%;
        }
        dd {
            float: right;
            width: 70%;
        }
    }
    .speaker-box {
        margin-bottom: 5px;
        img {
            border-radius: 50%;
            border: solid 5px $inputBorder;
        }
        a {
            text-decoration: none;
        }
        span {
            text-decoration: underline;
        }
    }
}
.cmsplugin-schedule {
    .days {
        @include clearfix;
        margin-bottom: 2em;

        > a {
            background: $background-color-light;
            color: $inputBorder;
            display: block;
            float: left;
            width: 107px;
            height: 107px;
            margin-right: 20px;
            padding-top: 23px;
            border-radius: 5px;
            text-align: center;
            line-height: 2em;
            text-decoration: none;

            .w {
                font-size: 3.5rem;
                font-weight: bold;
            }
            .n {
                font-size: 1.5em;
            }
            &:last-child {
                margin-right: 0;
            }

            &.active {
                background: $background-color;
                color: $inputBorderHi;
            }
        }
    }
    table {
        tr.break {
            background: $inputBorder;
            color: #FFF;
            td.filled {
                text-align: center;
                vertical-align: middle;
                &, a {
                    color: #FFF;
                }
            }
        }
        tr {
            height: 30px;

            &:hover td {
                background: none;
            }

            td, th {
                border: 1px solid $inputBorder;
            }
            th {
                font-size: 1.6rem;
                border-left: 0;
                border-right: 0;
                text-align: center;
                vertical-align: middle;
            }
            td {
                font-size: 1.4rem;
                text-align: left;
                vertical-align: top;

                &:first-child {
                    border-left: 0;
                }
                &:last-child {
                    border-right: 0;
                }
                .title {
                    color: $baseColor;
                    text-decoration: none;
                }
                .speakers {
                    color: $highlightColor;
                }
            }
            &:first-child {
                th {
                    border-top: 0;
                }
            }
            &:last-child {
                td {
                    border-bottom: 0;
                }
            }
        }

        thead th {
            width: 18%;
            max-width: 18%;
            &:first-child {
                width: 10%;
                max-width: 10%;
            }
        }
    }
}
