.sessionpage {
    .meta {
        border-bottom: 1px dotted $inputBorder;
        padding-bottom: 10px;
        margin-bottom: 10px;
        dl {
            width: 100%;
            overflow: hidden;
            margin: 0px;
        }
        dt, dd {
            padding: 5px 0;
            margin: 0;
        }
        dt {
            float: left;
            font-weight: bold;
            width: 30%;
        }
        dd {
            float: right;
            width: 70%;
        }
    }
    .speaker-box {
        margin-bottom: 5px;
        img {
            border-radius: 50%;
            border: solid 5px $inputBorder;
        }
        a {
            text-decoration: none;
        }
        span {
            text-decoration: underline;
        }
    }
}
.cmsplugin-schedule {
    padding-bottom: 35px;

    .days {
        @include clearfix;
        margin-bottom: 2em;

        > a {
            color: $inputBorder;
            display: block;
            float: left;
            width: 107px;
            margin-right: 20px;
            padding-bottom: 15px;
            text-align: center;
            text-decoration: none;

            .w, .n {
                display: block;
                background: $background-color;
                color: darken($background-color, 15);
            }
            &.active {
                background: url(../images/daybg.active.dark.png) bottom center no-repeat;
                .n, .w {
                    background: $schedule-secondary;
                    color: $baseColor;
                }
            }

            .w {
                border-radius: 10px 10px 0 0;
                padding-top: 19px;
                font-size: 3.0rem;
                line-height: 3.4rem;
                font-weight: bold;
            }
            .n {
                border-radius: 0 0 10px 10px;
                font-size: 1.5rem;
                line-height: 2.8rem;
                padding-bottom: 18px;
            }
            &:last-child {
                margin-right: 0;
            }

            .area-3 & {
                .n, .w {
                    background: $schedule-secondary;
                    color: $schedule-secondary-inv;
                }

                &.active {
                    background: url(../images/daybg.active.png) bottom center no-repeat;
                    .n, .w {
                        background: $background-color;
                        color: $inputBorderHi;
                    }
                }
            }
        }
    }
    table {
        .title, .speakers {
            display: block;
        }
        .title {
            color: $baseColor;
            text-decoration: none;
            margin-bottom: 3px;
            line-height: 130%;
        }
        .speakers {
            color: $highlightColor;
            line-height: 115%;
        }
        .details {
            font-size: 1.4rem;
            .location {
                display: block;
            }
        }
        a {
            text-decoration: none;
            display: block;
        }
        td, th {
            font-size: 1.4rem;
            padding: 15px 8px;
        }
        tr {
            &:hover td {
                background: none;
            }
        }
        tr.break, tr.break:hover {
            background: $inputBorder;
            color: #FFF;
            td.filled {
                text-align: center;
                vertical-align: middle;
                &, a, .title {
                    color: #FFF;
                }
            }
        }

        @media #{$medium-up} {
            .details {
                display: none;
            }
            tr {
                height: 30px;
                &:first-child {
                    th {
                        border-top: 0;
                    }
                }
            }
            td, th {
                border: 1px solid $inputBorder;
            }
            th {
                font-size: 1.6rem;
                border-left: 0;
                border-right: 0;
                text-align: center;
                vertical-align: middle;
            }
            td {
                text-align: left;
                vertical-align: middle;
                text-align: center;

                &:first-child {
                    border-left: 0;
                }
                &:last-child {
                    border-right: 0;
                }
                .evt {
                    max-width: 185px;
                    text-align: left;
                    display: inline-block;
                }
                &.timetable {
                    text-align: left;
                }
            }

            thead th {
                width: 18%;
                max-width: 18%;
                &:first-child {
                    width: 10%;
                    max-width: 10%;
                }
            }
        } // medium up
        @media #{$small-only} {
            .title {
                font-size: 1.9rem;
            }
            .details {
                display: block;
            }
            thead {
                display: none;
            }
            td {
                display: none;
                line-height: 2.0rem;
                text-align: center;
                &.filled {
                    display: block;
                }
                &.timetable {
                    font-weight: bold;
                }
            }
        }
    }

}
