.cmsplugin-schedule {
    table {
        // border-collapse: separate;

        tr {
            height: 50px;

            &:hover td {
                background: none;
            }

            td, th {
                border: 1px solid $inputBorder;
                font-size: 1.5rem;
                text-align: center;
                vertical-align: middle;
            }
        }


        > thead > tr > th {
            width: 18%;
            max-width:  18%;
            &:first-child {
                width: 10%;
                max-width:  10%;
            }
        }
    }
}