$red: #ed6e48;
$green: #e1e04a;
$blue: #00b3e1;
$blue-light: #0095cc;
$dark-grey: #6b7a81;
$grey: #a8b1b5;
$grey2: #839095;
$red-green: #00788c;
$red-blue: #0085a2;
$green-blue: #94d4f0;
$red-green-blue: #d06824;
$yellow: lighten(#E1E04A, 30);

$background-color: #ffffff;
$background-color-light: #f3f8f9;
$background-nav: #004D6D;

$link-color-light: $red-green;
$link-color-nav: #82a6b7;
$link-color-nav-active: #e1e239;
$link-color-nav-hover: $link-color-nav-active;
$link-color-subnav: $background-color;
$link-color-subnav-active: $link-color-nav-active;
$link-color-subnav-hover: $link-color-nav-active;

$highlightColor: #D65216;
$baseColor: #648899;
$infoColor: $red-green;

$baseFont: 'ff-mark-web-pro', 'Verdana', sans-serif;
$footerFont: 'dejarip', 'Verdana', sans-serif;

$primaryBtnBg: #1082c0;
$primaryBtnFg: $background-color;

$inputBorder: #c1d0d2;
$inputBorderHi: #58818a;
$inputBorderErr: $highlightColor;

$schedule-secondary: #D6E7ED;
$schedule-secondary-inv: #A8C0CC;

$loginColor: #97afbb;

$table-border: $inputBorder;
