body.profilepage {
    .profile {
        @include grid-row;
    }

    img.avatar {
        border: 3px solid $background1;
        padding: 2px;
    }

    div.misc {
        @include grid-column($columns: 4);
    }

    .info {
        @include grid-column($columns: 8);
        p:first-child {
            margin-top: 0;
        }
    }

    dt {
        font-weight: bold;
    }

    dd {
        margin: 0;
    }
}