// Make sure the charset is set appropriately
@charset "UTF-8";

// This includes all of the foundation global elements that are needed to work with any of the other files.
@import "foundation/variables";

@import "settings";
@import "normalize";
@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/top-bar";

//-----------------------------------------------------------------------------

@import "forms";

html {
    font-size: 62.5%;
}

body {
    text-align: center;
}

a {
    color: $blue-light;
}

header {
    height: 170px;
    background: $background1;
    .inner {
        height: 100%;
        .logo {
            float: left;
        }
        .logo {
            margin: 30px 45px 20px 90px;
            img {
                height: 120px;
            }
        }
    }
    .top-bar {
        width: 665px;
        margin-right: 55px;
        margin-top: 60px;
        float: right;

        ul {
            padding: 0;
        }

        ul.dropdown {
            background: $topbar-link-bg-hover;
        }
        .top-bar-section > ul {
            background: transparent;

            // Let's make the buttons in the menu larger
            > li > a {
                line-height: 45px;
                padding: 8px 15px 12px 15px;
                &:after {
                    top: 31px;
                }
            }
        }

        ul > li > a {
            font-size: 16px;
            font-size: 1.6rem;
        }

        a {
            text-decoration: none;
        }
    }
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

a.btn {
    background: $baseColor !important;
    color: #ffffff !important;
    padding: 8px 20px 12px 20px !important;
    //@include border-radius(5px);
    &.danger {
        background-color: $highlightColor !important;
    }
}

.alert-block {
    margin-bottom: 1em;
    li {
        padding: 10px;
        text-align: center;
        margin-top: 1px;
        &:first-child {
            margin-top: 0;
        }
    }
    &.alert-danger {
        background-color: $highlightColor;
        color: #FFF;
    }
}



header .inner, section, footer {
    width: 1000px;
    margin: auto;
}

#info, h1 {
    font-size: 32px;
    font-size: 3.2rem;
    padding: 60px 0;
    color: $infoColor;
    font-weight: 300;
    text-align: center;
}

#get-notified {
    width: 782px;
    border-radius: 5px;
    background: $background1;
    padding: 38px;
    box-sizing: border-box;
    font-size: 24px;
    font-size: 2.4rem;
    p {
        a {
            font-weight: 600;
            color: $baseColor;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

#social {
    padding: 40px 0;
    font-size: 32px;
    font-size: 3.2rem;
    font-weight: 300;
    color: $infoColor;

    ul {
        margin-top: 20px;
    }

    li {
        display: inline-block;
    }
}

footer {
    border-top: 1px solid #bcc7cb;
    padding-top: 30px;
    margin-bottom: 60px;
    font-size: 16px;
    font-size: 1.6rem;
    font-family: $footerFont;

    a {
        font-weight: bold;
        color: $baseColor;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

strong {
    font-weight: bold;
    color: $highlightColor;
}

#main > #content {
    max-width: 890px;
    margin: auto;
    text-align: left;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 150%;
    padding-bottom: 30px;
}

//-----------------------------------------------------------------------------

@media (screen and max-width: 1000px) {
    header .inner, section, footer, #info {
        width: 100%;
    }
}

@media (screen and max-width: 890px) {
    #main {
        width: 100%;
    }
}

@media (screen and max-width: 782px) {
    #get-notified {
        width: 100%;
    }
}

@media (screen and max-width: 550px) {
    header p {
        // We hide the info text because it would overlap with the logo
        display: none;
    }
}

@media (screen and max-width: 400px) {
    html {
        font-size: 50%;
    }
}
