{# This is a plaintext email #}{% load i18n %}{% autoescape off %}{% blocktrans with first_name=purchase.first_name last_name=purchase.last_name %}Hello {{ first_name }} {{ last_name }},{% endblocktrans %}

{% trans "You've purchased following tickets:" %}
---------------------------------------------------------
{% for ticket in purchase.ticket_set.all %}- {{ ticket.ticket_type.name }} ({{ ticket.first_name }} {{ ticket.last_name }}), {{ ticket.ticket_type.fee|floatformat:2 }} EUR
{% endfor %}
--------------------------------------------------------
{% trans "VAT (19%)" %}:  {{ rounded_vat }} EUR
--------------------------------------------------------
{% trans "Total" %}: {{ purchase.payment_total|floatformat:2 }} EUR
========================================================

{% trans "Payment method" %}: {{ payment_method }}

{% trans "Billing address" %}:
{{ purchase.company_name }}
{{ purchase.first_name }} {{ purchase.last_name }}
{{ purchase.street }}
{{ purchase.zip_code }} {{ purchase.city }}
{{ purchase.country }}
{% if purchase.vat_id %}{% trans "Tax ID" %}: {{ purchase.vat_id }}{% endif %}

{% if purchase.comments %}{% trans "Comment" %}:
{{ purchase.comments}}{% endif %}

{% if terms_of_use_url %}{% trans "Purchasing a ticket requires agreeing to the terms of service. These can be found here:" %}
{{ terms_of_use_url }}{% endif %}

{% if purchase.payment_method == 'invoice' %}
{% trans "During the next couple of days you will receive an invoice via e-mail." %}

{% trans "If you have any problems with the payment, please contact us ASAP!" %}
{% elif purchase.payment_method == 'credit_card' %}
{% trans "As soon as your purchase has been processed you will receive another e-mail." %}
{% endif %}

{% trans "Conference material will be handed out at the conference." %}

--{% endautoescape %}
{% include "attendees/mail_signature.txt" %}
