{# This is a plaintext email #}{% autoescape off %}Hallo {{ purchase.first_name }} {{ purchase.last_name }},

Sie haben folgende Tickets für die PyCon DE 2013 gekauft:
---------------------------------------------------------
{% for ticket in purchase.ticket_set.all %}- {{ ticket.ticket_type.name }} ({{ ticket.first_name }} {{ ticket.last_name }}), {{ ticket.ticket_type.fee|floatformat:2 }} EUR
{% endfor %}
--------------------------------------------------------
Ust. (19%):  {{ rounded_vat }} EUR
--------------------------------------------------------
Gesamtpreis: {{ purchase.payment_total|floatformat:2 }} EUR
========================================================

Zahlungsart: {{ payment_method }}

Rechnungsadresse:
{{ purchase.company_name }}
{{ purchase.first_name }} {{ purchase.last_name }}
{{ purchase.street }}
{{ purchase.zip_code }} {{ purchase.city }}
{{ purchase.country }}
{% if purchase.vat_id %}Steuernummer: {{ purchase.vat_id }}{% endif %}

{% if purchase.comments %}Kommentar:
{{ purchase.comments}}{% endif %}


{% if purchase.payment_method == 'invoice' %}
Sie erhalten innerhalb der nächsten Tage eine Rechnung per E-Mail. Bitte senden sie uns einen Nachweis der Zahlung per E-Mail (andrea.glodek@python-verband.org), alternativ per Fax: 0345 12298891, oder bringen Sie eine Kopie zur Registrierung in Leipzig mit. Eine Begleichung der Rechnung vor Ort ist nur in BAR möglich, wir können keine EC-Karte, keine Kredit-Karte akzeptieren. Die Konferenzunterlagen werden vor Ort ausgegeben.

Falls es Probleme mit der Bezahlung gibt, können Sie uns auf folgenden Wegen erreichen:

* info@de.pycon.org
* @pyconde (Twitter)
{% elif purchase.payment_method == 'credit_card' %}
Sobald die Zahlung auch durch unser Verrechnungssystem verarbeitet wurde, erhalten Sie nochmals eine Bestätigung per E-Mail.
{% endif %}


Vielen Dank!

Das PyCon.DE Team

--{% endautoescape %}
{% include "attendees/mail_signature.txt" %}
