{% extends "attendees/purchase_base.html" %}
{% load i18n %}

{% block content %}
    {{ block.super }}

    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <fieldset class="attendees">
            <legend>{% trans "Attendee(s)" %}</legend>
            <p class="info">{% trans "Please enter the name and other information relevant for the specific ticket(s) in the fields below." %}</p>
            {% for name_form in name_forms %}
              <fieldset>
                <legend>{{ forloop.counter }}. Ticket ({{ name_form.instance.ticket_type.name }})</legend>
                <div class="form-group {% if name_form.first_name.errors %}has-error{% endif %}">
                  <label class="control-label" for="{{ name_form.first_name.id }}" class="requiredField">
                    {{ name_form.first_name.label }} <span class="asteriskField">*</span>:
                  </label>
                  <div class="controls">
                    {{ name_form.first_name }}
                    {% for error in name_form.first_name.errors %}
                      <span class="help-block error"><strong><i class="fa fa-times"></i></strong> {{ error }}</span>
                    {% endfor %}
                  </div>
                </div>
                <div class="form-group {% if name_form.last_name.errors %}has-error{% endif %}">
                  <label class="control-label" for="{{ name_form.last_name.id }}" class="requiredField">
                    {{ name_form.last_name.label }} <span class="asteriskField">*</span>:
                  </label>
                  <div class="controls">
                    {{ name_form.last_name }}
                    {% for error in name_form.last_name.errors %}
                      <span class="help-block error"><strong><i class="fa fa-times"></i></strong> {{ error }}</span>
                    {% endfor %}
                  </div>
                </div>
                {% if not name_form.instance.ticket_type.tutorial_ticket %}
                  <div class="form-group {% if name_form.shirtsize.errors %}has-error{% endif %}">
                    <label class="control-label" for="{{ name_form.shirtsize.id }}">
                      {{ name_form.shirtsize.label }}:
                    </label>
                    <div class="controls">
                      {{ name_form.shirtsize }}
                      {% for error in name_form.shirtsize.errors %}
                        <span class="help-block error"><strong><i class="fa fa-times"></i></strong> {{ error }}</span>
                      {% endfor %}
                      <p class="help-block">{{ name_form.shirtsize.help_text|safe }}</p>
                    </div>
                  </div>
                {% endif %}
              </fieldset>
            {% endfor %}
        </fieldset>
        {% if voucher_forms %}
        <fieldset class="vouchers">
            <p class="info">{% trans "Ticket discounts for students et al. are issued after receiving proof of this status. Please send us relevant documents to receive the necessary voucher code." %}</p>
            <legend>{% trans "Voucher" %}</legend>
            {% if double_vouchers %}
                <div class="clearfix control-group error">
                    <span class="help-inline"><strong>{% trans "A voucher can only redeemed once." %}</strong></span>
                </div>
            {% endif %}
            {% for voucher_form in voucher_forms %}
                {% if forloop.first %}
                    <div class="clearfix control-group headerlabel">
                        <div class="controls">
                            <span class="headerlabel">{{ voucher_form.voucher.label }}</span>
                        </div>
                    </div>
                {% endif %}
                <div class="clearfix form-group{% if voucher_form.errors %} has-error{% endif %}">
                    <label for="{{ voucher_form.code.id }}" class="requiredField">
                        {{ forloop.counter }}. {{ voucher_form.instance.ticket_type.name }} <span class="asteriskField">*</span>
                    </label>
                    <div class="controls">
                        {{ voucher_form.code }}
                        {% for error in voucher_form.code.errors %}
                            <span class="help-block error"><strong><i class="fa fa-times"></i></strong> {{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </fieldset>
        {% endif %}
        <div class="form-actions">
            <input type="submit" name="submit" value="{% trans "Continue" %}" class="submit btn-primary btn" id="submit-id-submit">
            <a class="back" href="{% url 'attendees_purchase' %}">{% trans "Back" %}</a>
        </div>
    </form>
{% endblock %}
