{% extends "attendees/purchase_base.html" %}
{% load i18n crispy_forms_tags markup %}

{% block extra_head %}
    <style type="text/css">
        .form-horizontal fieldset.tickets label { width: 45% }
        .form-horizontal fieldset.tickets div.controls { width: 45%; }
        .form-horizontal fieldset.tickets select { width: 80px; }
        .remark {clear: both; padding-top: 10px;}
    </style>
{% endblock %}
{% block content %}
    {{ block.super }}

    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <fieldset class="tickets">
            <legend>{% trans "Tickets" %}</legend>
            {% if no_tickets_selected %}
                <div class="clearfix control-group error">
                    <span class="help-inline"><strong>{% trans "You have to select at least one ticket." %}</strong></span>
                </div>
            {% endif %}
            {% for quantity_form in quantity_forms %}
                <div id="div_{{ quantity_form.ticket_type.id }}" style="padding-top:0px;min-height:42px" class="clearfix control-group{% if quantity_form.ticket_type.tutorial_ticket %} tutorial{% endif %}{% if quantity_form.quantity.errors %} error{% endif %}">
                    <label for="{{ quantity_form.ticket_type.id }}" class="requiredField" style="font-weight:bold">
                        {{ quantity_form.ticket_type }}<span class="asteriskField">*</span><br />
                        {% if quantity_form.ticket_limit %}<small>{% blocktrans with limit=quantity_form.ticket_limit %}Only {{ limit }} left!{% endblocktrans %}</small>{% endif %}
                    </label>
                    <div class="controls">
                        {{ quantity_form.quantity }}
                        {% for error in quantity_form.quantity.errors %}
                            <span class="help-inline"><strong>{{ error }}</strong></span>
                        {% endfor %}
                        {% if quantity_form.ticket_limit == 0 %}
                            <span class="help-block error"><strong><i class="fa fa-times"></i></strong> {% trans "Sold out!" %}</span>
                        {% endif %}
                    </div>
                    <div class="remark">{{ quantity_form.ticket_type.remarks|markdown:"safe" }}</div>
                </div>
            {% endfor %}
        </fieldset>
        {% crispy form %}
    </form>
{% endblock %}
