{% extends "attendees/base.html" %}
{% load i18n %}

{% block title %}Tickets für Konferenz und Tutorials{% endblock %}

{% block content %}
    <h1>Tickets für Konferenz und Tutorials</h1>
    <h2>Ticketkauf abgeschlossen</h2>
    <p>Vielen Dank für den Kauf der Tickets für die Konferenz! Sie werden in Kürze eine Bestätigung mit weiteren Informationen per E-Mail erhalten.</p>
    <p>Bei Rückfragen zur Bestellung, Rechnung oder zur Zahlung können Sie uns jederzeit erreichen:</p>
    <ul>
        <li>info@de.pycon.org</li>
        <li>@pyconde (Twitter)</li>
    </ul>
    <p><br /></p>
{% endblock %}
