{% extends "attendees/purchase_base.html" %}
{% load i18n crispy_forms_tags %}

{% block extra_head %}
    <style type="text/css">
        table { margin-bottom: 20px; }
        table tr { border-bottom: 1px solid #ccc; }
        table tr:last-child { border-bottom: 4px double #ccc; font-weight: bold; }
        table tr:last-child td:first-child { border-right: 0; }
        table td, table th { text-align: left; padding: 5px; }
        table td { border-right: 1px solid #ccc; }
    </style>
{% endblock %}

{% block content %}
    {{ block.super }}

    <p>{% trans "Please check your billing address as well as the ticket data in the overview below." %}</p>

    <h2>{% trans "Order overview" %}</h2>
    <table>
        <thead>
            <th>{% trans "Ticket" %}</th>
            <th>{% trans "First name" %}</th>
            <th>{% trans "Last name" %}</th>
            <th>{% trans "Price" %}</th>
        </thead>
        {% for ticket in tickets %}
        <tr>
            <td>{{ ticket.ticket_type.name }}</td>
            <td>{{ ticket.first_name }}</td>
            <td>{{ ticket.last_name }}</td>
            <td>{{ ticket.ticket_type.fee|floatformat:2 }} EUR</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="3" style="text-align:right">{% trans "Total:" %}</td>
            <td>{{ purchase.payment_total|floatformat:2 }} EUR</td>
        </tr>
    </table>

    <p>{% trans "All prices include 19% VAT." %}</p>

    <h2>{% trans "Billing address" %}</h2>
    <p>
    {% filter linebreaksbr %}{{ purchase.company_name }}
        {{ purchase.first_name }} {{ purchase.last_name }}
        {{ purchase.street }}
        {{ purchase.zip_code }} {{ purchase.city }}
        {{ purchase.country }}
    {% endfilter %}
    </p>

    <form class="form-horizontal" method="post">
        <h2>{% trans "Payment method and terms of service" %}</h2>

        {% blocktrans %}<p>Please select a payment method and click "Complete purchase". You will receive an order confirmation via e-mail at the end of the order process.</p>
        <p>The ticket purchase requires you to agree to the terms of service.</p>{% endblocktrans %}

        {% csrf_token %}
        {% crispy form %}
    </form>
{% endblock %}
