{% extends "attendees/purchase_base.html" %}
{% load i18n %}

{% block content %}
    {{ block.super }}

    <h2>{% trans "Purchase complete!" %}</h2>
    <p>{% trans "Thank you for purchasing a EuroPython 2014 ticket! Soon you will receive a confirmation e-mail with further information." %}</p>
    <p></p>
    <p>{% trans 'If you like to show your support to the EuroPython you can apply for a free EuroPython Society (EPS) Membership by email to <a href="mailto:board@europython.eu">board@europython.eu</a>.' %}</p>
{% endblock %}
