{% extends "base.html" %}
{% load i18n account_tags %}
{% block bodyclass %}user_purchases{% endblock %}
{% block title %}{% trans "Your purchases" %}{% endblock %}
{% block page_title %}{% trans "Your purchases" %}{% endblock %}
{% block content %}
    {% regroup tickets by purchase as purchase_list %}
    {% for purchase in purchase_list %}
    <div class="purchase">
        <dl class="details">
            <dt>{% trans "Invoice number" %}:</dt>
            <dd>{{ purchase.grouper.full_invoice_number }}</dd>
            <dt>{% trans "Date" %}:</dt>
            <dd>{{ purchase.grouper.date_added|date }}</dd>
            <dt>{% trans "Total price (incl. 19% VAT)" %}:</dt>
            <dd>{{ purchase.grouper.payment_total|floatformat:2 }} EUR</dd>
            {% if purchase.grouper.state %}
            <dt>{% trans "Status" %}:</dt>
            <dd>{% if purchase.grouper.state == 'invoice_created' %}{% trans "Payment pending" %}{% else %}{{ purchase.grouper.get_state_display|capfirst }}{% endif %}</dd>
            {% endif %}
        </dl>
        {% if purchase.grouper.state == 'invoice_created' %}
        <p class="alert alert-warn">{% trans "We have not yet received your payment. You can find account details on your invoice." %}</p>
        {% endif %}
        {% if purchase.grouper.state == 'canceled' %}
        <p class="alert alert-warn">{% trans "This purchase was canceled." %}</p>
        {% endif %}
        <div class="paymentaddress">
            <h3>{% trans "Billing address" %}</h3>
            <p>
                {{ purchase.grouper.first_name }} {{ purchase.grouper.last_name }}<br>
                {{ purchase.grouper.street }}<br>
                {{ purchase.grouper.zip_code }} {{ purchase.grouper.country }}
            </p>
            {% if purchase.grouper.exported and purchase.grouper.state != 'canceled' %}
            <p>
                <form action="{% url 'attendees_user_resend_invoice' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{ purchase.grouper.id }}" name="p" />
                    <input type="submit" value="{% trans "Resend invoice" %}" class="btn btn-primary" />
                </form>
            </p>
            {% endif %}
        </div>
        <div class="tickets">
            <h3>{% trans "Tickets" %}</h3>
            <ul>
                {% for ticket in purchase.list %}
                <li>
                    <span class="type">
                        {% if purchase.grouper.state == 'payment_received' %}
                            {% if not ticket.user or ticket.user == user %}
                                <a href="{% url 'attendees_user_tickets' %}#ticket{{ticket.pk}}">{{ ticket.ticket_type.name }}</a>:
                            {% else %}
                                {{ ticket.ticket_type.name }}:
                            {% endif %}
                        {% else %}
                            {{ ticket.ticket_type.name }}:
                        {% endif %}
                    </span>
                    <p class="details">{{ ticket.real_ticket.first_name }} {{ ticket.real_ticket.last_name }}</p>
                    <div class="ticket-assignment">
                    {% if purchase.grouper.state == 'payment_received' %}
                        {% if ticket.user %}
                            <p>{% blocktrans with username=ticket.user|display_name %}This ticket has been assigned to {{ username }}. Please contact the helpdesk if
                            you want to change this.{% endblocktrans %}</p>
                        {% else %}
                            <a href="{% url 'attendees_assign_ticket' pk=ticket.pk %}"><i class="fa fa-fw fa-user"></i> {% trans "Assign to different user" %}</a>
                        {% endif %}
                    {% else %}
                        <p>{% trans "Please complete the purchase first for further ticket options." %}</p>
                    {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% empty %}
    <p>{% trans "You haven't made any purchases yet." %}
    {% endfor %}
{% endblock %}
