{% extends "attendees/base.html" %}
{% load i18n attendees_tags %}
{% block bodyclass %}{{ block.super }} user_tickets with-sidebar{% endblock %}
{% block title %}{% trans "Your tickets" %}{% endblock %}
{% block page_title %}{% trans "Your tickets" %}{% endblock %}
{% block content %}
<div class="row">
    <div id="details">
        {% if tickets %}
            {% for ticket in tickets %}
                <div class="ticket" id="ticket{{ ticket.pk }}">
                    <h2>{{ ticket.ticket_type.name }} (#{{ ticket.pk }})</h2>
                    {% if ticket.ticket_type.content_type.model == "venueticket" %}
                        {% if ticket.real_ticket|is_editable_ticket:user %}
                        <a href="{% url 'attendees_edit_ticket' pk=ticket.real_ticket.pk %}"><i class="fa fa-fw fa-pencil"></i>{% trans "Edit" %}</a>
                        {% endif %}
                        <dl>
                            <dt>{% trans "Name" %}:</dt>
                            <dd>{{ ticket.real_ticket.first_name }} {{ ticket.real_ticket.last_name }}</dd>
                        </dl>
                        <dl>
                            <dt>{% trans "Desired T-Shirt size" %}:</dt>
                            <dd>{% if ticket.real_ticket.shirtsize %}{{ ticket.real_ticket.shirtsize }}{% else %}-{% endif %}</dd>
                        </dl>
                    {% elif ticket.ticket_type.content_type.model == "simcardticket" %}
                        <dl>
                            <dt>{% trans "Name" %}:</dt>
                            <dd>{{ ticket.real_ticket.first_name }} {{ ticket.real_ticket.last_name }}</dd>
                        </dl>
                        <dl>
                            <dt>{% trans "Sex" %}:</dt>
                            <dd>{{ ticket.real_ticket.gender }}</dd>
                        </dl>
                        <dl>
                            <dt>{% trans "Date of birth" %}:</dt>
                            <dd>{{ ticket.real_ticket.date_of_birth }}</dd>
                        </dl>
                        <dl>
                            <dt>{% trans "Address" %}:</dt>
                            <dd>
                                {{ ticket.real_ticket.hotel_name }}</br>
                                {{ ticket.real_ticket.street }}</br>
                                {{ ticket.real_ticket.zip_code }} {{ ticket.real_ticket.city }}</br>
                                {{ ticket.real_ticket.country }}
                            </dd>
                        </dl>
                        <dl>
                            <dt>{% trans "Phone" %}:</dt>
                            <dd>{{ ticket.real_ticket.phone }}</dd>
                        </dl>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <div class="empty">
                {% blocktrans %}
                <p>There are currently no tickets associated with your account.</p>
                <p>Please note that only tickets from completed purchases are listed here.</p>
                {% endblocktrans %}
            </div>
        {% endif %}
    </div>
    <div id="sidebar">
        <div id="help">
            {% blocktrans %}
            <p>Here you can see all the tickets that are associated with your account.
            If another user purchased a ticket for you which doesn't show up here, please
            ask them to assign the ticket to you. They can do that through their list
            of purchases.</p>
            <p>Please note that only tickets from completed purchases are listed here.</p>
            {% endblocktrans %}
        </div>
    </div>
</div>
{% endblock %}
