{% extends "site_base.html" %}
{% load i18n %}
{% block bodyclass %}reviews{% endblock %}
{% block top_notices %}
    {% if review_outdated %}
    <div id="message_outdated" class="alert alert-warn">
        {% trans "The proposal has been updated after you've submitted your review." %}
    </div>
    {% endif %}
    {% if not current_conference.get_reviews_active %}
    <div id="message_outdated" class="alert alert-warn">
        {% trans "The review phase is over. You can no longer comment or review proposals." %}
    </div>
    {% endif %}
{% endblock %}