{% extends "reviews/base.html" %}
{% block title %}Meine Vorschläge in Review{% endblock %}
{% block page_title %}Meine Vorschläge in Review{% endblock %}
{% block content %}
    {% block description %}
    <p>Hier sehen Sie alle Ihre Vorschläge im Review-Kontext.</p>
    {% endblock %}
    <table>
        <thead>
            <tr>
                <th class="orderable"><a href="?order={% if order == 'title' %}-{% endif %}title">Titel</a>
                    {% if order == "-title" %}<i class="icon-chevron-down"></i>{% endif %}{% if order == "title" %}<i class="icon-chevron-up"></i>{% endif %}</th>
                <th class="orderable"><a href="?order={% if order == 'comments' %}-{% endif %}comments">Kommentare</a>
                    {% if order == "-comments" %}<i class="icon-chevron-down"></i>{% endif %}{% if order == "comments" %}<i class="icon-chevron-up"></i>{% endif %}</th>
                <th class="orderable"><a href="?order={% if order == 'activity' %}-{% endif %}activity">Letzte Aktivität</a>
                    {% if order == "-activity" %}<i class="icon-chevron-down"></i>{% endif %}{% if order == "activity" %}<i class="icon-chevron-up"></i>{% endif %}</th>
            </tr>
        </thead>
        <tbody>
            {% for proposal in proposals %}
            <tr class="{% if proposal.proposal.kind %}kind-{{ proposal.proposal.kind.slug }}{% endif %}">
                <td class="title"><a href="{% url reviews-proposal-details pk=proposal.proposal.pk %}">{{ proposal.title }}</a></td>
                <td>{{ proposal.num_comments }}</td>
                <td>{% if proposal.latest_comment_date %}{{ proposal.latest_comment_date }}{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="legend">Tutorials werden <span class="legend kind-tutorial">so dargestellt</span>.<br />
        Vorträge werden <span class="legend kind-talk">so dargestellt</span>.<br /></p>
{% endblock content %}