{% extends "reviews/base.html" %}
{% load i18n %}
{% block title %}{% trans "My reviewable proposals" %}{% endblock %}
{% block page_title %}{% trans "My reviewable proposals" %}{% endblock %}
{% block content %}
    {% block description %}
    <p>{% trans "Here you can see all your proposals that are out for review." %}</p>
    {% endblock %}
    <table>
        <thead>
            <tr>
                <th class="orderable"><a href="?order={% if order == 'title' %}-{% endif %}title">{% trans "Title" %}</a>
                    {% if order == "-title" %}<i class="icon-chevron-down"></i>{% endif %}{% if order == "title" %}<i class="icon-chevron-up"></i>{% endif %}</th>
                <th class="orderable"><a href="?order={% if order == 'comments' %}-{% endif %}comments">{% trans "Comments" %}</a>
                    {% if order == "-comments" %}<i class="icon-chevron-down"></i>{% endif %}{% if order == "comments" %}<i class="icon-chevron-up"></i>{% endif %}</th>
                <th class="orderable"><a href="?order={% if order == 'activity' %}-{% endif %}activity">{% trans "Recent activity" %}</a>
                    {% if order == "-activity" %}<i class="icon-chevron-down"></i>{% endif %}{% if order == "activity" %}<i class="icon-chevron-up"></i>{% endif %}</th>
            </tr>
        </thead>
        <tbody>
            {% for proposal in proposals %}
            <tr class="{% if proposal.proposal.kind %}kind-{{ proposal.proposal.kind.slug }}{% endif %}">
                <td class="title"><a href="{% url 'reviews-proposal-details' pk=proposal.proposal.pk %}">{% if proposal.latest_proposalversion_id %}{{ proposal.latest_proposalversion.title }}{% else %}{{ proposal.title }}{% endif %}</a></td>
                <td>{{ proposal.num_comments }}</td>
                <td>{% if proposal.latest_comment_date %}{{ proposal.latest_comment_date }}{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "reviews/partials/legend.html" %}
{% endblock content %}
