{% extends "reviews/base.html" %}
{% load i18n %}
{% block title %}{% trans "My reviews" %}{% endblock %}
{% block page_title %}{% trans "My reviews" %}{% endblock %}
{% block content %}
    {% if object_list %}
    <table>
        <thead>
            <tr>
                <th class="orderable"><a href="?order={% if order == 'title' %}-{% endif %}title">{% trans "Title" %}</a>
                    {% if order == "-title" %}<i class="icon-chevron-down"></i>{% endif %}{% if order == "title" %}<i class="icon-chevron-up"></i>{% endif %}</th>
                {% if can_see_proposal_author %}
                <th class="orderable"><a href="?order={% if order == 'speaker' %}-{% endif %}speaker">{% trans "Author" %}</a>
                    {% if order == "-speaker" %}<i class="icon-chevron-down"></i>{% endif %}{% if order == "speaker" %}<i class="icon-chevron-up"></i>{% endif %}</th>
                {% endif %}
                <th class="orderable"><a href="?order={% if order == 'rating' %}-{% endif %}rating">{% trans "Score" %}</a>
                    {% if order == "-rating" %}<i class="icon-chevron-down"></i>{% endif %}{% if order == "rating" %}<i class="icon-chevron-up"></i>{% endif %}</th>
            </tr>
        </thead>
        <tbody>
            {% for review in object_list %}
            <tr class="{% if review.proposal.kind %}kind-{{ review.proposal.kind.slug }}{% endif %}">
                <td class="title"><a href="{% url 'reviews-proposal-details' pk=review.proposal.pk %}">{% if review.proposal_version_id %}{{ review.proposal_version.title }}{% else %}{{ review.proposal.title }}{% endif %}</a></td>
                {% if can_see_proposal_author %}
                <td>{{ review.proposal.speaker }}</td>
                {% endif %}
                <td>{{ review.rating }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "reviews/partials/legend.html" %}
    {% else %}
    <p class="empty">{% trans "You have not reviewed any proposals." %}</p>
    {% endif %}
{% endblock %}