{% extends "reviews/proposal_base.html" %}
{% load i18n %}
{% block bodyclass %}{{ block.super }} versions{% endblock %}
{% block title %}{% blocktrans with title=original.title %}Versions of "{{ title }}" {% endblocktrans %}{% endblock %}
{% block details %}
    <table>
        <tbody>
            <tr><td {% if not current_conference.anonymize_proposal_author %}colspan="2"{% endif %}><a href="{{ original.get_absolute_url }}">{% trans "Original" %}</a></td></tr>
        {% for version in object_list %}
        <tr>
            <td><a href="{% url 'reviews-version-details' proposal_pk=version.original.pk pk=version.pk %}">{{ version.pub_date }}</a></td>
            {% if not current_conference.anonymize_proposal_author %}
            <td>{{ version.creator }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}