{% extends "reviews/proposal_base.html" %}
{% load markup i18n %}
{% block bodyclass %}{{ block.super }} versiondetails{% endblock %}
{% block title %}{% trans "Proposal" %} "{{ version.title }}" @ {{ version.pub_date }}{% endblock %}
{% block page_title %}{% trans "Proposal" %} "{{ version.title }}" @ {{ version.pub_date }}{% endblock %}
{% block details %}
    <article class="proposal">
    <h3>{% trans "Abstract" %}</h3>
    <div class="abstract">
        {{ version.abstract|markdown:"safe" }}
    </div>

    <h3>{% trans "Description" %}</h3>
    <div class="description">
        {{ version.description|markdown:"safe" }}
    </div>

    {% if version.notes %}
        <h3>{% trans "Notes" %}</h3>
        <div class="notes">
            {{ version.notes|markdown:"safe" }}
        </div>
    {% endif %}
    </article>
{% endblock %}
{% block sidebar %}
    {{ block.super }}
    {% include "reviews/partials/versions_box.html" %}
{% endblock %}
