{% extends "reviews/proposal_base.html" %}
{% load markup i18n %}
{% block bodyclass %}{{ block.super }} versiondetails{% endblock %}
{% block title %}{% trans "Proposal" %} "{{ proposal.title }}" @ {{ version.pub_date }}{% endblock %}
{% block page_title %}{% trans "Proposal" %} "{{ proposal.title }}" @ {{ version.pub_date }}{% endblock %}
{% block content %}
<div class="row">
    <article id="details">
        <div class="description">
            {{ version.description|markdown:"safe" }}
        </div>

        <div class="abstract">
            {{ version.abstract|markdown:"safe" }}
        </div>
    </article>
    <div id="sidebar">
    {% include "reviews/partials/versions_box.html" %}
    </div>
</div>
{% endblock %}