{% extends "reviews/base.html" %}
{% block sidebar %}
    <div class="box" id="review-metadata">
        <h2>Vorschlagsinfo</h2>
        <dl>
            <dt>Titel:</dt>
            {% if proposal_version %}
            <dd><a href="{% url reviews-proposal-details pk=proposal.pk %}">{{ proposal_version.title }}</a></dd>
            {% else %}
            <dd><a href="{% url reviews-proposal-details pk=proposal.pk %}">{{ proposal.title }}</a></dd>
            {% endif %}
        </dl>
        {% if proposal_version and proposal_version.title != proposal.title %}
        <dl>
            <dt>Original-Titel:</dt>
            <dd>{{ proposal.title }}</dd>
        </dl>
        {% endif %}
        <dl>
            <dt>Typ:</dt>
            <dd>
                {% if proposal_version %}
                    {{ proposal_version.kind.name }}
                {% else %}
                    {{ proposal.kind.name }}
                {% endif %}
            </dd>
        </dl>
        <dl>
            <dt>Zielgruppe:</dt>
            <dd>
                {% if proposal_version %}
                    {{ proposal_version.audience_level }}
                {% else %}
                    {{ proposal.audience_level }}
                {% endif %}
            </dd>
        </dl>
        {% if not current_conference.anonymize_proposal_author %}
        <dl>
            <dt>Vortragende(r):</dt>
            <dd>
                {% if proposal_version %}
                    {{ proposal_version.speaker }}
                {% else %}
                    {{ proposal.speaker }}
                {% endif %}
            </dd>
        </dl>
        <dl>
            <dt>Mitvortragende:</dt>
            <dd>
                {% if proposal_version %}
                    {{ proposal_version.additional_speakers.all|join:", " }}
                {% else %}
                    {{ proposal.additional_speakers.all|join:", " }}
                {% endif %}
            </dd>
        </dl>
        {% endif %}
        <dl>
            <dt>Dauer:</dt>
            <dd>
                {% if proposal_version %}
                    {{ proposal_version.duration.label }}
                {% else %}
                    {{ proposal.duration.label }}
                {% endif %}
            </dd>
        </dl>
        {% if proposal.track %}
        <dl>
            <dt>Track:</dt>
            <dd>
                {% if proposal_version %}
                    {{ proposal_version.track.name }}
                {% else %}
                    {{ proposal.track.name }}
                {% endif %}
            </dd>
        </dl>
        {% endif %}
    </div>
{% endblock %}