{% extends "reviews/proposal_base.html" %}
{% load markup crispy_forms_tags i18n account_tags %}
{% block bodyclass %}{{ block.super }} proposaldetails{% endblock %}
{% block page_title %}{% blocktrans with title=proposal.title %}Review info: {{ current_title }}{% endblocktrans %}{% endblock %}
{% block title %}{% blocktrans with title=proposal.title %}Review info: {{ current_title }}{% endblocktrans %}{% endblock %}
{% block details %}
    <article class="proposal">
    {% if proposal.kind.slug == 'training' %}
    <h3>{% trans "Description" %}</h3>
    <div class="description">
        {% if proposal_version %}
            {{ proposal_version.description|markdown:"safe" }}
        {% else %}
            {{ proposal.description|markdown:"safe" }}
        {% endif %}
    </div>
    <h3>{% trans "Structure" %}</h3>
    <div class="abstract">
        {% if proposal_version %}
            {{ proposal_version.abstract|markdown:"safe" }}
        {% else %}
            {{ proposal.abstract|markdown:"safe" }}
        {% endif %}
    </div>
    {% else %}
    <h3>{% trans "Abstract" %}</h3>
    <div class="abstract">
        {% if proposal_version %}
            {{ proposal_version.abstract|markdown:"safe" }}
        {% else %}
            {{ proposal.abstract|markdown:"safe" }}
        {% endif %}
    </div>

    <h3>{% trans "Description" %}</h3>
    <div class="description">
        {% if proposal_version %}
            {{ proposal_version.description|markdown:"safe" }}
        {% else %}
            {{ proposal.description|markdown:"safe" }}
        {% endif %}
    </div>
    {% endif %}

    {% if proposal_version and proposal_version.notes or proposal.notes %}
        <h3>{% trans "Notes" %}</h3>
        <div class="notes">
            {% if proposal_version %}
                {{ proposal_version.notes|markdown:"safe" }}
            {% else %}
                {{ proposal.notes|markdown:"safe" }}
            {% endif %}
        </div>
    {% endif %}
    </article>
    <div class="actions">
        {% if can_update %}
            {% if proposal.can_be_updated %}
                <a class="btn" href="{% url 'reviews-update-proposal' pk=proposal.pk %}"><i class="fa fa-fw fa-pencil"></i> {% trans "Update" %}</a>
            {% else %}
                <a href="#">{% trans "Proposal can no longer be changed." %}</a>
            {% endif %}
        {% endif %}
    </div>
    {% if can_review %}
    <div id="review" class="{% if user_review %}reviewed{% endif %}">
        {% if not user_review %}
            <h2>{% trans "Not yet reviewed" %}</h2>
            {% blocktrans %}
            <p>You have not yet reviewed this proposal. Please do so by following the link below.</p>
            <p>The review consists of a score and a review text. Both are only visible to you, staff
            members, and the programme committee.</p>
            {% endblocktrans %}
            {% if proposal.can_be_reviewed %}
                <a class="btn" href="{% url 'reviews-review-proposal' pk=proposal.pk %}"><i class="fa fa-fw fa-pencil"></i> {% trans "Create review" %}</a>
            {% else %}
                <a href="#">{% trans "This proposal can no longer be reviewed." %}</a>
            {% endif %}
        {% else %}
            <h2>{% trans "Your review" %}: <span class="rating">{{ user_review.rating }}</span></h2>
            <div class="summary">{{ user_review.summary|markdown:"safe" }}</div>
            {% if proposal.can_be_reviewed %}
                <a class="btn" href="{% url 'reviews-update-review' pk=proposal.pk %}"><i class="fa fa-fw fa-pencil"></i> {% trans "Update your review" %}</a>
            {% else %}
                <a href="#">{% trans "Reviews can no longer be updated." %}</a>
            {% endif %}
        {% endif %}
    </div>
    {% endif %}
    {% if timeline %}
    <h2>{% blocktrans %}Discussion with the proposal author{% endblocktrans %}</h2>
        <ul id="timeline">
        {% for item in timeline %}
            <li id="{{ item.type }}-{{ item.item.pk }}" class="timeline-item timeline-item-{{ item.type }} {% if item.item.deleted %}deleted{% endif %}">
                <dl>
                    <dt><i class="fa fa-clock-o"></i> <a href="#{{ item.type }}-{{ item.item.pk }}">{{ item.item.pub_date }}</a></dt>
                    {% if item.type == 'comment' %}
                        {% if item.item.deleted %}
                        <dd>
                            {% if can_see_proposal_author %}
                                {% blocktrans with author=item.item.author|display_name %}This comment by {{ author }} was deleted.{% endblocktrans %}
                            {% else %}
                                {% trans "This comment was deleted." %}
                            {% endif %}
                            {% if item.item.author != item.item.deleted_by %}{% blocktrans with deleter=item.item.deleted_by %}(by {{ deleter }}){% endblocktrans %}{% endif %}
                        </dd>
                        {% else %}
                        <dd><div class="content">{{ item.item.content|markdown:"safe" }}</div><cite>-- {% if can_see_proposal_author %}{{ item.item.author|display_name }}{% else %}{% trans "Proposal's author" %}{% endif %}
                            {% if item.item.proposal_version %}
                                {% url 'reviews-version-details' proposal_pk=proposal.pk pk=item.item.proposal_version.pk as revurl %}
                                {% blocktrans with url=revurl date=item.item.proposal_version.pub_date %}(based on the <a href="{{ url }}">version from {{ date }}</a>){% endblocktrans %}
                            {% else %}
                                {% trans "(based on the original proposal)" %}
                            {% endif %}
                            </cite>
                            {% if item.item.author == user or user.is_staff or user.is_admin %}<p class="actions">
                                <a href="{% url 'reviews-delete-comment' proposal_pk=proposal.pk pk=item.item.pk %}?next={{ request.get_full_path }}">{% trans "Delete" %}</a>
                            </p>{% endif %}
                        </dd>
                        {% endif %}
                    {% else %}
                        {% if can_see_proposal_author %}
                            <dd>{% blocktrans with user=item.item.creator|display_name %}{{ user }} has updated the proposal.{% endblocktrans %}</dd>
                        {% else %}
                            <dd>{% trans "The author has updated the proposal." %}
                        {% endif %}
                    {% endif %}
                </dl>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    {% if can_comment %}
    <h2>{% trans "Questions for the author / Comment:" %}</h2>
    {% crispy comment_form %}
    {% endif %}
{% endblock %}
{% block sidebar %}
    {{ block.super }}
    {% include "reviews/partials/versions_box.html" %}
{% endblock %}
