{% extends "reviews/base.html" %}
{% load i18n %}
{% block title %}Reviewbare Vorschläge{% endblock %}
{% block bodycls %}reviews listing{% endblock %}
{% block page_title %}Reviewbare Vorschläge{% endblock %}
{% block sidebar %}
    {{ block.super }}
    <section>
        <h2>{% trans "Filters" %}</h2>
        <form method="GET" class="filters">{{ filter_form.track }}{{ filter_form.kind }}<button type="submit" class="nojs">Go</button></form>
    </section>
{% endblock %}
{% block content %}
    {% block description %}
    <p>Diese Seite zeigt Ihnen alle Session-Vorschläge, die bewertet können, zusammen mit der Anzahl der
        bereits abgegeben Bewertungen.</p>
    {% endblock %}
    <table>
        <thead>
            <tr>
                <th class="title orderable"><a href="?order={% if order == 'title' %}-{% endif %}title">Titel</a>
                    {% if order == "-title" %}<i class="icon-chevron-down"></i>{% endif %}{% if order == "title" %}<i class="icon-chevron-up"></i>{% endif %}</th>
                <th class="reviews orderable"><a href="?order={% if order == 'reviews' %}-{% endif %}reviews">Reviews</a>
                    {% if order == "-reviews" %}<i class="icon-chevron-down"></i>{% endif %}{% if order == "reviews" %}<i class="icon-chevron-up"></i>{% endif %}</th>
                {% comment %}
                <th class="comments orderable"><a href="?order={% if order == 'comments' %}-{% endif %}comments">Kommentare</a>
                    {% if order == "-comments" %}<i class="icon-chevron-down"></i>{% endif %}{% if order == "comments" %}<i class="icon-chevron-up"></i>{% endif %}</th>
                {% endcomment %}
                <th class="activity orderable"><a href="?order={% if order == 'activity' %}-{% endif %}activity">Letzte Aktivität</a>
                    {% if order == "-activity" %}<i class="icon-chevron-down"></i>{% endif %}{% if order == "activity" %}<i class="icon-chevron-up"></i>{% endif %}</th>
                {% if user.is_staff %}
                <th class="score orderable"><a href="?order={% if order == 'score' %}-{% endif %}score">Score</a>
                    {% if order == "-score" %}<i class="icon-chevron-down"></i>{% endif %}{% if order == "score" %}<i class="icon-chevron-up"></i>{% endif %}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for proposal in proposals %}
            <tr class="{% if proposal.proposal.kind %}kind-{{ proposal.proposal.kind.slug }}{% endif %}">
                <td class="title"><a href="{% url reviews-proposal-details pk=proposal.proposal.pk %}">{{ proposal.title }}</a>{% if proposal.proposal.track %}<span class="track">Track: {{ proposal.proposal.track.name }}</span>{% endif %}</td>
                <td class="reviews">{{ proposal.num_reviews }}</td>
                {% comment %}
                <td class="comments">{{ proposal.num_comments }}</td>
                {% endcomment %}
                <td class="activity">{% if proposal.latest_activity_date %}{{ proposal.latest_activity_date }}{% endif %}</td>
                {% if user.is_staff %}
                <td class="score"><a href="{% url reviews-proposal-reviews proposal_pk=proposal.proposal.pk %}">{{ proposal.score }}</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="legend">Tutorials werden <span class="legend kind-tutorial">so dargestellt</span>.<br />
        Vorträge werden <span class="legend kind-talk">so dargestellt</span>.<br /></p>
{% endblock content %}