{% extends "reviews/base.html" %}
{% load i18n %}
{% block title %}{% trans "Reviewable proposals" %}{% endblock %}
{% block bodycls %}reviews listing{% endblock %}
{% block page_title %}{% trans "Reviewable proposals" %}{% endblock %}
{% block sidebar %}
    {{ block.super }}
    <section>
        <h2>{% trans "Filters" %}</h2>
        <form method="GET" class="filters">{{ filter_form.track }}{{ filter_form.kind }}<button type="submit" class="nojs">Go</button></form>
    </section>
{% endblock %}
{% block content %}
    {% block description %}
    <p>{% trans "This page lists all reviewable proposals with their current rating and number of already submitted reviews." %}</p>
    {% endblock %}
    <table>
        <thead>
            <tr>
                <th class="title orderable"><a href="?order={% if order == 'title' %}-{% endif %}title">{% trans "Title" %}</a>
                    {% if order == "-title" %}<i class="icon-chevron-down"></i>{% endif %}{% if order == "title" %}<i class="icon-chevron-up"></i>{% endif %}</th>
                <th class="reviews orderable"><a href="?order={% if order == 'reviews' %}-{% endif %}reviews">{% trans "Reviews" %}</a>
                    {% if order == "-reviews" %}<i class="icon-chevron-down"></i>{% endif %}{% if order == "reviews" %}<i class="icon-chevron-up"></i>{% endif %}</th>
                {% comment %}
                <th class="comments orderable"><a href="?order={% if order == 'comments' %}-{% endif %}comments">{% trans "Comments" %}</a>
                    {% if order == "-comments" %}<i class="icon-chevron-down"></i>{% endif %}{% if order == "comments" %}<i class="icon-chevron-up"></i>{% endif %}</th>
                {% endcomment %}
                <th class="activity orderable"><a href="?order={% if order == 'activity' %}-{% endif %}activity">{% trans "Recent activity" %}</a>
                    {% if order == "-activity" %}<i class="icon-chevron-down"></i>{% endif %}{% if order == "activity" %}<i class="icon-chevron-up"></i>{% endif %}</th>
                {% if user.is_staff %}
                <th class="score orderable"><a href="?order={% if order == 'score' %}-{% endif %}score">{% trans "Score" %}</a>
                    {% if order == "-score" %}<i class="icon-chevron-down"></i>{% endif %}{% if order == "score" %}<i class="icon-chevron-up"></i>{% endif %}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for proposal in proposals %}
            <tr class="{% if proposal.proposal.kind %}kind-{{ proposal.proposal.kind.slug }}{% endif %}">
                <td class="title"><a href="{% url 'reviews-proposal-details' pk=proposal.proposal.pk %}">{{ proposal.title }}</a>{% if proposal.proposal.track %}<span class="track">{% trans "Track" %}: {{ proposal.proposal.track.name }}</span>{% endif %}</td>
                <td class="reviews">{{ proposal.num_reviews }}</td>
                {% comment %}
                <td class="comments">{{ proposal.num_comments }}</td>
                {% endcomment %}
                <td class="activity">{% if proposal.latest_activity_date %}{{ proposal.latest_activity_date }}{% endif %}</td>
                {% if user.is_staff %}
                <td class="score"><a href="{% url 'reviews-proposal-reviews' proposal_pk=proposal.proposal.pk %}">{{ proposal.score }}</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "reviews/partials/legend.html" %}
{% endblock content %}