{% extends "reviews/proposal_base.html" %}
{% load markup account_tags i18n %}
{% block bodyclass %}{{ block.super }} reviews{% endblock %}
{% block title %}{% blocktrans with title=proposal.title %}Reviews of "{{ title }}"{% endblocktrans %}{% endblock %}
{% block page_title %}{% blocktrans with title=proposal.title %}Reviews of "{{ title }}"{% endblocktrans %}{% endblock %}
{% block details %}
    {% if not object_list %}
    <p class="empty">{% trans "This proposal has not yet been reviewed." %}</p>
    {% else %}
    <ul class="reviews">
        {% for review in object_list %}
        <li>
            {% if proposal_version != review.proposal_version %}
            <p class="warning">{% trans "This review is based on an old version of the proposal:" %}
                {% if review.proposal_version %}
                    <a href="{% url 'reviews-version-details' proposal_pk=proposal.pk pk=review.proposal_version.pk %}">{{ review.proposal_version.pub_date }}</a>
                {% else %}
                    <a href="{{ proposal.get_absolute_url }}">{% trans "Original" %}</a>
                {% endif %}</p>
            {% endif %}
            <span class="score">{{ review.rating }}</span>
            <div class="summary">{{ review.summary|markdown:"safe" }}</div>
            <cite>-- {{ review.user|display_name }} ({{ review.pub_date }})</cite>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
{% block sidebar %}
    <div id="scorebox" class="box">
        {% blocktrans with score=proposal.review_metadata.score num_reviews=proposal.review_metadata.num_reviews %}
        <span class="score">{{ score }}</span> after {{ num_reviews }} Review(s)
        {% endblocktrans %}
    </div>

    {{ block.super }}
{% endblock %}
