{% load cms_tags sekizai_tags menu_tags compress event_tags i18n static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block page_title %}EuroPython 2014{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- build:css assets/css/screen.css -->
        <link rel="stylesheet" href="{% static "assets/css/screen.css" %}">
        <!-- endbuild -->
        {% block site_meta %}
        <meta name="author" content="Python Software Verband e.V.">
        <meta name="keywords" content="{% block meta_keywords %}Python, EuroPython, Conference{% endblock %}">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta property="og:title" content="{% block og_title %}{% endblock %}" />
        <meta property="og:site_name" content="EuroPython 2014" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://{{ request.get_host }}/" />
        <meta property="og:image" content="{% static "images/logo-pycon.png" %}" />
        <meta property="og:description" content="{% block og_description %}{% endblock %}" />
        <link rel="alternate" href="/news/feed/" type="application/atom+xml" title="PyCon DE-News" />
        {% endblock %}
        <link rel="shortcut icon" href="{% static "images/favicon.ico" %}">
        {% render_block "css" %}
        {% block extra_head %}{% endblock %}
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    </head>
    <body>
        {% cms_toolbar %}
        <div class="container">
            <header>
                <div class="inner">
                    <a href="/" class="logo"><img src="{% static "assets/images/logo.png" %}" alt="EuroPython 2014" /></a>
                    <nav class="top-bar">
<!--                         <ul class="title-area">
                            <li class="name"></li>
                            <li class="toggle-topbar menu-icon">
                                <a href=""><span>Menu</span></a>
                            </li>
                        </ul> -->
                        <section class="top-bar-section">
                            {% show_menu 0 1 1 1 "cms/primary-navigation.html" %}
                            <ul class="right">
                                {% if not user.is_authenticated %}
                                <li>
                                    <a href="{% url 'userprofiles_registration' %}" class="btn danger">{% trans "Register now" %}</a>
                                </li>
                                {% else %}
                                <li>
                                    <a href="{% url 'auth_logout' %}">{% trans "Logout" %}</a>
                                </li>
                                {% endif %}
                            </ul>
                        </section>
                    </nav>
                    {% if not user.is_authenticated %}
                    <p id="login">
                        You have already registered? <a href="{% url 'auth_login' %}">{% trans "Login" %}</a>
                    </p>
                    {% endif %}
                </div>
            </header>
            <div id="main">
                {% block site_teaser %}{% endblock %}
                <section id="content" class="container">
                    {% block site_title %}<h1>{% block title %}{% endblock %}</h1>{% endblock %}
                    {% block site_content %}
                        {% block content %}
                            {% placeholder site_content %}
                        {% endblock %}
                    {% endblock %}
                </section>
            </div>
            <footer>
                <div class="doormat">
                    <div id="footer-legal">
                        <ul>
                            <li><a href="">{% trans "Legal Notice" %}</a></li>
                            <li><a href="">{% trans "Privacy Policy" %}</a></li>
                            <li><a href="">{% trans "Code of Conduct" %}</a></li>
                        </ul>
                    </div>
                    <div id="footer-social">
                        <ul>
                            <li><a href="https://twitter.com/europython" class="twitter">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                                {% trans "Follow @europython" %}</a></li>
                            <li><a href="https://www.facebook.com/europython" class="facebook">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x"></i>
                                </span>
                                {% trans "Like EuroPython" %}</a></li>
                        </ul>
                    </div>
                    <div id="footer-donate">
                        <h2>{% trans "Please Donate" %}</h2>
                        <p>{% blocktrans %}EuroPython is organized by the Python Italia no-profit association. We are able to accept donations through PayPal and credit card, and we welcome any kind of contribution that will be exclusively used for improving the EuroPython event for everyone. Thanks!{% endblocktrans %}</p>
                        <a class="btn" href="">{% trans "Donate now" %}</a>

                    </div>
                </div>
                <div id="copyright">
                    <p>{% blocktrans %}&copy; 2007-2013 Python, with some rights reserved.{% endblocktrans %}</p>
                </div>
            </footer>
        </div>

        <script type="text/javascript" src="//use.typekit.net/kxy0ijj.js"></script>
        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
        {% compress js %}
            <script src="{% static "assets/js/ui.js" %}"></script>
            <script type="text/javascript" src="{% static "assets/js/foundation/foundation.js"%}" />
            <script type="text/javascript" src="{% static "assets/js/foundation/foundation.topbar.js"%}" />
        {% endcompress %}
        {% render_block "js" %}
        {% block extra_foot %}{% endblock %}
        <!--<script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-40229326-1', 'pycon.org');
            ga('set', 'anonymizeIp', true);
            ga('send', 'pageview');
        </script>-->
    </body>
</html>
