{% load cms_tags sekizai_tags menu_tags compress i18n static statici18n %}<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>EuroPython 2014 - {% block page_title %}Welcome{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% compress js %}
        <script type="text/javascript" src="{% static "assets/bower_components/modernizr/modernizr.js"%}"></script>
        {% endcompress %}
        <link rel="stylesheet" href="{% static "assets/css/screen.css" %}">
        {% block site_meta %}
        <meta name="author" content="Python Software Verband e.V.">
        <meta name="keywords" content="{% block meta_keywords %}Python, EuroPython, Conference{% endblock %}">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta property="og:title" content="{% block og_title %}{% endblock %}" />
        <meta property="og:site_name" content="EuroPython 2014" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://{{ request.get_host }}/" />
        <meta property="og:image" content="{% static "images/logo-pycon.png" %}" />
        <meta property="og:description" content="{% block og_description %}{% endblock %}" />
        <link rel="alternate" type="application/rss+xml" href="http://blog.europython.eu/rss">
        {% endblock %}
        {# Typekit loading should happen before anything else to prevent FOUT #}
        <script type="text/javascript" src="//use.typekit.net/kxy0ijj.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <link rel="icon" href="{% static "assets/images/favicon.ico" %}">
        <link rel="apple-touch-icon-precomposed" href="{% static "assets/images/favicon-152.png" %}">
        {% render_block "css" postprocessor "compressor.contrib.sekizai.compress" %}
        {% render_block "css_external" %}
        {% block extra_head %}{% endblock %}
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        {% cms_toolbar %}
        <div class="container">
            <header>
                <div class="contain-to-grid main-nav">
                    {% show_menu 0 1 1 1 "cms/primary-navigation.html" %}
                </div>
                <div class="inner">
                    <a href="/" class="logo">
                        <img class="big" src="{% static "assets/images/logo-big.png" %}" alt="EuroPython 2014" />
                    </a>
                    {% if user.is_staff or perms.accounts.send_user_mails or perms.sponsorship.add_joboffer or perms.accounts.see_checkin_info %}
                      <div id="adminbox">
                        <a href="">{% trans "Admin" %} <i class="fa fa-fw fa-angle-left"></i></a>
                        <ul class="dropdown">
                          {% if user.is_staff %}<li><a href="{% url "admin:index" %}">Django Admin</a></li>{% endif %}
                          {% if perms.accounts.send_user_mails %}<li><a href="{% url "account_sendmail" %}">{% trans "Send mail" %}</a></li>{% endif %}
                          {% if perms.sponsorship.add_joboffer %}{% show_menu_below_id "sponsorship" %}{% endif %}
                          {% if perms.accounts.see_checkin_info %}<li><a href="{% url "checkin_search" %}">{% trans "Handle check-in"%}</a></li>{% endif %}
                        </ul>
                      </div>
                    {% endif %}
                    {% if not user.is_authenticated %}
                      <p id="login">
                        <a href="{% url 'auth_login' %}">{% trans "Login" %}</a> or <a href="{% url 'userprofiles_registration' %}">{% trans "Sign up" %}</a>
                      </p>
                    {% else %}
                      <div id="accountbox">
                        <a href="{% url 'account_profile' uid=user.pk %}">{% trans "Your profile" %} <i class="fa fa-fw fa-angle-left"></i></a>
                        <ul class="dropdown">
                          {% show_menu_below_id "accounts" %}
                        </ul>
                      </div>
                    {% endif %}
                    {% if current_conference.get_reviews_active and user.is_authenticated or user.is_staff %}
                      <div id="reviewbox">
                        <a href="{% page_url "reviews" %}">{% page_attribute "menu_title" "reviews" %} <i class="fa fa-fw fa-angle-left"></i></a>
                        <ul class="dropdown">
                          {% show_menu_below_id "reviews" %}
                        </ul>
                      </div>
                    {% endif %}
                </div>
            </header>
            <div id="main">
            {% block main %}
                {% block site_teaser %}{% endblock %}
                <section id="content" class="container">
                    {% block top_notices %}{% endblock %}
                    {% for message in messages %}
                      <div id="message_{{ forloop.counter }}"{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                        {{ message }}
                      </div>
                    {% endfor %}
                    {% block site_title %}<h1 id="site-title">{% block title %}{% endblock %}</h1>{% endblock %}
                    {% block site_content %}
                        {% block content %}
                            {% placeholder site_content %}
                        {% endblock %}
                    {% endblock %}
                </section>
            {% endblock %}
            </div>
            <footer>
                <div class="doormat">
                    <div id="footer-legal">
                        <ul>
                            <li><a href="{% page_url "legal-notice" %}">{% page_attribute "title" "legal-notice" %}</a></li>
                            <li><a href="{% page_url "terms-conditions" %}">{% page_attribute "title" "terms-conditions" %}</a></li>
                            <li><a href="{% page_url "privacy-policy" %}">{% page_attribute "title" "privacy-policy" %}</a></li>
                            <li><a href="{% page_url "code-of-conduct" %}">{% page_attribute "title" "code-of-conduct" %}</a></li>
                            <li><a href="mailto:{{ SUPPORT_EMAIL }}">{% trans "Get in touch" %}</a></li>
                        </ul>
                    </div>
                    <div id="footer-social">
                        <ul>
                            <li><a href="https://twitter.com/europython" class="twitter">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                                {% trans "Follow @europython" %}</a></li>
                            <li><a href="https://www.facebook.com/europython" class="facebook">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x"></i>
                                </span>
                                {% trans "Like EuroPython" %}</a></li>
                            <li><a href="https://plus.google.com/+Ep14Org" class="google-plus">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-google-plus fa-stack-1x"></i>
                                </span>
                                {% trans "+1 EuroPython" %}</a></li>
                        </ul>
                    </div>
                    <div id="footer-ack">
                        <p>{% blocktrans %}EuroPython 2014 is organized by the <a href="http://www.meetup.com/Python-Users-Berlin-PUB/">Python User Group Berlin</a>, <a href="http://www.meetup.com/django-user-group-berlin/">Django User Group Berlin</a>, <a href="http://www.meetup.com/PyLadies-Berlin/">PyLadies Berlin</a> & <a href="http://python-verband.org/">Python Software Verband</a> in cooperation with the <a href="http://www.europython-society.org/">EuroPython Society</a> for the Python community.{% endblocktrans %}</p>
                    </div>
                    <!-- <div id="footer-donate">
                    </div> -->
                </div>
                <div id="copyright">
                    <p>&copy; 2013-{% now "Y" %} <a href="http://python-verband.org/">Python Software Verband e.V.</a></p>
                    <p><a href="https://github.com/EuroPython/djep"><i class="fa fa-github fa-lg"> </i> We are on GitHub</a></p>
                </div>
            </footer>
        </div>

        <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
        {% render_block "js" %}
        {% render_block "js_external" %}
        {% if debug %}
            <script src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
        {% else %}
            {# We have to configure the URLs statically because django-compressor operates offline. #}
            {% if LANGUAGE_CODE == "de" %}
                {% compress js %}
                <script type="text/javascript" src="{% statici18n "de" %}"></script>
                {% endcompress %}
            {% else %}
                {% if LANGUAGE_CODE == "en" %}
                {% compress js %}
                <script type="text/javascript" src="{% statici18n "en" %}"></script>
                {% endcompress %}
                {% endif %}
            {% endif %}
        {% endif %}
        {% compress js %}
            <script type="text/javascript" src="{% static "assets/bower_components/foundation/js/foundation/foundation.js"%}"></script>
            <script type="text/javascript" src="{% static "assets/bower_components/foundation/js/foundation/foundation.topbar.js"%}"></script>
            <script type="text/javascript" src="{% static "assets/bower_components/foundation/js/foundation/foundation.orbit.js"%}"></script>
            <script type="text/javascript" src="{% static "assets/bower_components/spinjs/spin.js"%}"></script>
            <script type="text/javascript" src="{% static "assets/bower_components/parsley-de/index.js"%}"></script>
            <script type="text/javascript" src="{% static "assets/bower_components/parsley.min/index.js"%}"></script>
            <script src="{% static "assets/js/ui.js" %}"></script>
            <script src="{% static "assets/js/validation.js" %}"></script>
            <script src="{% static "assets/js/ui.multiuserselect.js" %}"></script>
            <script src="{% static "assets/js/ui.tagsinput.js" %}"></script>
            <script src="{% static "assets/js/ui.schedule.js" %}"></script>
            <script src="{% static "assets/js/ui.checkin.js" %}"></script>
            <script>$(document).foundation();</script>
        {% endcompress %}
        {% block extra_foot %}{% endblock %}
    </body>
</html>
