{% load i18n account_tags %}
<div class="purchase">
    <h2>{% trans "Billing address" %}</h2>
    <p>
        {{ purchase.company_name }}</br>
        {{ purchase.first_name }} {{ purchase.last_name }}</br>
        {{ purchase.street }}</br>
        {{ purchase.zip_code }} {{ purchase.city }}</br>
        {{ purchase.country }}</br>
    </p>
    {% if purchase.state == 'payment_received' %}
        <div class="purchase-paid">
            {% trans "Paid!" %}
        </div>
    {% elif purchase.state == 'canceled' %}
        <div class="purchase-canceled">
            {% trans "Canceled!" %}
        </div>
    {% elif purchase.state == 'invoice_created' %}
        <div class="purchase-unpaid">
            {% trans "Not Paid!" %}
        </div>
    {% elif purchase.state != None %}
        <div class="purchase-unknown">
            {{ purchase.get_state_display|title }}
        </div>
    {% endif %}
</div>

<div class="tickets">
    <h2>{% trans "Order overview" %}</h2>
    <table>
        <thead>
            <th>{% trans "Ticket" %}</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Organization" %}</th>
            <th>{% trans "User" %}</th>
            <th>{% trans "Sponsor" %}</th>
            <th>{% trans "Price" %}</th>
            <th></th>
        </thead>
        {% for ticket in tickets %}
            <tr{% if ticket.canceled %} class="canceled" title="{% trans "This ticket has been canceled and is not valid anymore!" %}"{% endif %}>
                <td>{{ ticket.ticket_type.name }}</td>
                <td>{{ ticket.first_name }} {{ ticket.last_name }}</td>
                <td>{{ ticket.organisation }}</td>
                <td>{{ ticket.user|full_name|default:"" }}</td>
                <td>{{ ticket.sponsor.name }}</td>
                <td>{{ ticket.ticket_type.fee|floatformat:2 }} EUR</td>
                <td>{% if ticket.canceled %}{% trans "Ticket canceled!" %}{% endif %}</td>
            </tr>
        {% endfor %}
        <tr style="font-weight: bold">
            <td colspan="5" style="text-align:right">{% trans "Total:" %}</td>
            <td>{{ purchase.payment_total|floatformat:2 }} EUR</td>
            <td></td>
        </tr>
    </table>

    <p>{% trans "All prices include 19% VAT." %}</p>
</div>
