Pillow==1.7.7
Django==1.4.3
South==0.7.6
django-sekizai==0.6.1
django-mptt==0.5.2
django-classy-tags==0.3.4.1
python-dateutil==1.5
easy-thumbnails==1.1
django-userprofiles==0.2 #nocache
django-filer==0.9.3
cmsplugin-filer==0.9.4
cmsplugin-news==0.4.1
django-compressor==1.2
BeautifulSoup==3.2.0
django-cms==2.3.3
django-crispy-forms==1.1.1
Markdown==2.2.0
django-taggit==0.9.3
django-debug-toolbar==0.9.4
-e git+https://github.com/rossp/django-helpdesk.git@3785ca4477d7696eb87085f7e9b5a90eadea0a62#egg=django-helpdesk
requests==0.14.1

# tablib for export support
tablib==0.9.11

# Requirements for symposion
pytz==2012h
django-timezones==0.2

# Documentation
Sphinx==1.1.3

# Search integration
django-haystack==1.2.7
Whoosh==2.4.1
django-cms-search==0.6.2
