/* line 17, ../../../../../../../../../../../../usr/local/Cellar/ruby/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../../usr/local/Cellar/ruby/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../../usr/local/Cellar/ruby/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../../usr/local/Cellar/ruby/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../../usr/local/Cellar/ruby/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../../usr/local/Cellar/ruby/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../../usr/local/Cellar/ruby/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../../usr/local/Cellar/ruby/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../../usr/local/Cellar/ruby/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_forms.scss */
fieldset {
  background: #f3f8f9;
  padding: 95px 35px 35px 35px;
  margin-bottom: 20px;
  position: relative;
}

/* line 8, ../sass/_forms.scss */
legend {
  display: block;
  text-align: left;
  border-radius: 10px;
  position: absolute;
  top: 35px;
  left: 35px;
  font-weight: 600;
}

/* line 18, ../sass/_forms.scss */
label {
  font-weight: normal;
}

/* line 23, ../sass/_forms.scss */
.form-horizontal .form-group {
  width: 100%;
  overflow: hidden;
  padding: 5px 0;
}
/* line 28, ../sass/_forms.scss */
.form-horizontal label, .form-horizontal input {
  text-align: left;
}
/* line 31, ../sass/_forms.scss */
.form-horizontal label {
  float: left;
  width: 18%;
  padding-top: 16px;
}
/* line 36, ../sass/_forms.scss */
.form-horizontal .controls {
  float: left;
  width: 80%;
  margin-left: 2%;
}
/* line 40, ../sass/_forms.scss */
.form-horizontal .controls input[type=text], .form-horizontal .controls input[type=email], .form-horizontal .controls input[type=password] {
  box-sizing: border-box;
  width: 60%;
  display: inline-block;
  padding: 15px 1%;
  line-height: 150%;
  font-size: 16px;
  font-size: 1.6rem;
  border: 1px solid #c1d0d2;
  border-radius: 5px;
}
/* line 51, ../sass/_forms.scss */
.form-horizontal .controls .help-block {
  display: inline-block;
  margin-left: 10px;
}

/* line 58, ../sass/_forms.scss */
.form-group.has-error .controls input {
  border-color: #d65216;
}

/* line 62, ../sass/_forms.scss */
.form-actions {
  text-align: right;
}

/* line 66, ../sass/_forms.scss */
.btn {
  border-radius: 5px;
  padding: 15px;
  font-size: 1.6rem;
  border: none;
}

/* line 72, ../sass/_forms.scss */
.btn-primary {
  background: #1082c0;
  color: white;
}

/* line 25, ../sass/screen.scss */
html {
  font-size: 62.5%;
  font-family: "ff-mark-web-pro", "Verdana", sans-serif;
  line-height: 150%;
}

/* line 31, ../sass/screen.scss */
body {
  color: #648899;
  background: #FFFFFF;
  text-align: center;
}

/* line 37, ../sass/screen.scss */
p {
  line-height: 140%;
}

/* line 41, ../sass/screen.scss */
header {
  height: 170px;
  background: #f3f8f9;
}
/* line 44, ../sass/screen.scss */
header .inner {
  height: 100%;
}
/* line 46, ../sass/screen.scss */
header .inner .logo, header .inner .menu {
  float: left;
}
/* line 49, ../sass/screen.scss */
header .inner .logo {
  margin: 30px 45px 20px 90px;
}
/* line 51, ../sass/screen.scss */
header .inner .logo img {
  height: 120px;
}
/* line 55, ../sass/screen.scss */
header .inner .menu {
  margin: 63px 0 62px 0;
}
/* line 58, ../sass/screen.scss */
header .inner .menu nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../../../../../../../../../usr/local/Cellar/ruby/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header .inner .menu nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 25px;
  padding-right: 25px;
}
/* line 48, ../../../../../../../../../../../../usr/local/Cellar/ruby/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header .inner .menu nav ul li:first-child, header .inner .menu nav ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../../../../../../usr/local/Cellar/ruby/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header .inner .menu nav ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../../../../../../usr/local/Cellar/ruby/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header .inner .menu nav ul li.last {
  padding-right: 0;
}
/* line 60, ../sass/screen.scss */
header .inner .menu nav ul a {
  color: #00788c;
  line-height: 45px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
/* line 69, ../sass/screen.scss */
header .inner .menu.left {
  margin: 64px 0 64px 0;
}
/* line 72, ../sass/screen.scss */
header .inner .menu.left nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../../../../../../../../../usr/local/Cellar/ruby/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header .inner .menu.left nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 25px;
  padding-right: 25px;
}
/* line 48, ../../../../../../../../../../../../usr/local/Cellar/ruby/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header .inner .menu.left nav ul li:first-child, header .inner .menu.left nav ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../../../../../../usr/local/Cellar/ruby/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header .inner .menu.left nav ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../../../../../../usr/local/Cellar/ruby/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header .inner .menu.left nav ul li.last {
  padding-right: 0;
}
/* line 77, ../sass/screen.scss */
header .inner .menu.right {
  float: right;
  margin-right: 90px;
}
/* line 81, ../sass/screen.scss */
header .inner .menu.right nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../../../../../../../../../usr/local/Cellar/ruby/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header .inner .menu.right nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 7.5px;
  padding-right: 7.5px;
}
/* line 48, ../../../../../../../../../../../../usr/local/Cellar/ruby/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header .inner .menu.right nav ul li:first-child, header .inner .menu.right nav ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../../../../../../usr/local/Cellar/ruby/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header .inner .menu.right nav ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../../../../../../usr/local/Cellar/ruby/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header .inner .menu.right nav ul li.last {
  padding-right: 0;
}
/* line 83, ../sass/screen.scss */
header .inner .menu.right nav ul a {
  color: #648899;
}

/* line 93, ../sass/screen.scss */
a.btn {
  background: #648899 !important;
  color: #ffffff !important;
  padding: 8px 20px 12px 20px !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 98, ../sass/screen.scss */
a.btn.danger {
  background-color: #d65216 !important;
}

/* line 105, ../sass/screen.scss */
header .inner, section, footer {
  width: 1000px;
  margin: auto;
}

/* line 110, ../sass/screen.scss */
#info {
  font-size: 32px;
  font-size: 3.2rem;
  padding: 60px 0;
  color: #00788c;
  font-weight: 300;
  text-align: center;
}

/* line 119, ../sass/screen.scss */
#get-notified {
  width: 782px;
  border-radius: 5px;
  background: #f3f8f9;
  padding: 38px;
  box-sizing: border-box;
  font-size: 24px;
  font-size: 2.4rem;
}
/* line 128, ../sass/screen.scss */
#get-notified p a {
  font-weight: 600;
  color: #648899;
  text-decoration: none;
}
/* line 132, ../sass/screen.scss */
#get-notified p a:hover {
  text-decoration: underline;
}

/* line 139, ../sass/screen.scss */
#social {
  padding: 40px 0;
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: 300;
  color: #00788c;
}
/* line 146, ../sass/screen.scss */
#social ul {
  margin-top: 20px;
}
/* line 150, ../sass/screen.scss */
#social li {
  display: inline-block;
}

/* line 155, ../sass/screen.scss */
footer {
  border-top: 1px solid #bcc7cb;
  padding-top: 30px;
  margin-bottom: 60px;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "dejarip", "Verdana", sans-serif;
}
/* line 163, ../sass/screen.scss */
footer a {
  font-weight: bold;
  color: #648899;
  text-decoration: none;
}
/* line 168, ../sass/screen.scss */
footer a:hover {
  text-decoration: underline;
}

/* line 174, ../sass/screen.scss */
strong {
  font-weight: bold;
  color: #d65216;
}

/* line 179, ../sass/screen.scss */
#main > #content {
  width: 890px;
  margin: auto;
  text-align: left;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 150%;
  padding-bottom: 30px;
}

@media (max-width: 1000px) {
  /* line 192, ../sass/screen.scss */
  header .inner, section, footer, #info {
    width: 100%;
  }
}
@media (max-width: 890px) {
  /* line 198, ../sass/screen.scss */
  #main {
    width: 100%;
  }
}
@media (max-width: 782px) {
  /* line 204, ../sass/screen.scss */
  #get-notified {
    width: 100%;
  }
}
@media (max-width: 550px) {
  /* line 210, ../sass/screen.scss */
  header p {
    display: none;
  }
}
@media (max-width: 400px) {
  /* line 217, ../sass/screen.scss */
  html {
    font-size: 50%;
  }
}
