
/**
 * Additions
 */
.pagination .next, .pagination .prev {
    width: 48%;
}
.pagination .next {
    float: right;
    text-align: right;
}
.pagination .prev {
    float: left;
}
#content .pynews .empty {padding-left: 10px; }
body {
    background-color: #5b575b;
    background-image: url(../images/base-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.grid_8 h1 + form {
    margin-top: 20px;
}

.form-actions:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
body.login .form-actions {
    padding-left: 20px;
}
body.login .form-actions ul {
    float: left;
    width: 50%;
}
#messages {
    background: transparent;
    margin-bottom: 0;
}
.alert {
    margin-bottom: 10px;
}
a.btn {
    text-decoration: none;
}
table .actions {
    text-align: right;
}
table.proposals td {
    line-height: 28px;
}
table.proposals td.actions {
    line-height: 18px;
}

article.proposal .actions {
    text-align: right;
}
article.proposal .description, article.proposal .abstract {
    margin-bottom: 2em;
    padding: 5px;
    border: 1px solid transparent;
} 
article.proposal .description {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #DDD;
    background: #EAEAEA;
}
textarea {
    width: 300px;
}
#content .rfconfirmation p.question {
    font-size: 150%;
}
input[type=submit], button[type=submit] {
    float: none;
}