
/**
 * Additions
 */
.pagination .next, .pagination .prev {
    width: 48%;
}
.pagination .next {
    float: right;
    text-align: right;
}
.pagination .prev {
    float: left;
}
#content .pynews .empty {padding-left: 10px; }
body {
    background-color: #5b575b;
    background-image: url(../images/base-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.grid_8 h1 + form {
    margin-top: 20px;
}

.form-actions:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
body.login .form-actions {
    padding-left: 20px;
}
body.login .form-actions ul {
    float: left;
    width: 50%;
}

/**
 * Footer styling
 */
#footer {
    overflow: hidden;
    min-height: 220px;
    background: linear-gradient(top, #333 100px, rgba(0, 0, 0, 0) 220px);
    background: -webkit-linear-gradient(top, #333 100px, rgba(0, 0, 0, 0) 220px);
    background: -moz-linear-gradient(top, #333 100px, rgba(0, 0, 0, 0) 220px);
}
#footer section > h1 {
    color: #FFF;
    padding-bottom: 5px;
}
#footer section {
    opacity: 0.7;
    float: left;
    width: 23%;
    padding: 2% 5%;
}
#footer section:hover {
    opacity: 1;
}
#footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer li {
    padding: 5px 0;
    border-bottom: 1px dashed #EFEFEF;
}
#footer li a {
    display: block;
}
#footer dl {
    width: 100%;
    overflow: hidden;
}
#footer dd, #footer dt {
    padding: 3px 0;
}
#footer dt {
    font-weight: bold;
    float: left;
    width: 40%;
}
#footer dd {
    float: right;
    width: 60%;
}
#footer dd a {
    font-weight: normal;
}
#footer section p {
    text-transform: none;
    margin-bottom: 1em;
}
#footer #footer-social li {
    border-bottom: none;
}
#footer-social a {
    padding-left: 24px;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    line-height: 16px;
}
#footer-social a.twitter {
    background-image: url(../images/twitter-16x16.png);
}
#footer-social a.youtube {
    background-image: url(../images/youtube-16x16.png);
}
#footer-social a.flickr {
    background-image: url(../images/flickr-16x16.png);
}
#footer-social a.lanyrd {
    background-image: url(../images/lanyrd-16x16.png);
}
#credits {
    clear: both;
    width: 100%;
    text-align: center;
    padding-top: 2em;
}