{% extends "site_structure.html" %}
{% load sekizai_tags cms_tags menu_tags compress event_tags sponsorship_tags %}

{% block site_title %}{% block title %}Willkommen{% endblock %} - PyCon DE 2013 - 3. Deutsche Python-Konferenz{% endblock %}

{% block site_meta %}
  <meta name="author" content="Python Software Verband e.V.">
  <meta name="keywords" content="{% block meta_keywords %}Python, Pycon, Python Konferenz, Konferenz{% endblock %}">
  <meta name="description" content="{% block meta_description %}Die deutschsprachige Python-Konferenz PyCon DE findet vom 14.10. bis 19.10.2013 in Köln statt.{% endblock %}">
  <meta property="og:title" content="{% block og_title %}{% endblock %}PyCon DE 2013 - 3. Deutsche Python-Konferenz" />
  <meta property="og:site_name" content="PyCon DE 2013" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://{{ request.get_host }}/" />
  <meta property="og:image" content="http://{{ request.get_host }}{{ STATIC_URL }}images/logo-pycon.png" />
  <meta property="og:description" content="{% block og_description %}Die deutschsprachige Python-Konferenz PyCon DE findet vom 14.10. bis 19.10.2013 in Köln statt.{% endblock %}" />
  <link rel="alternate" href="/news/feed/" type="application/atom+xml" title="PyCon DE 2013-News" />
{% endblock %}

{% block site_content %}
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
         <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </a>
         <a class="brand" href="/">PyCon.DE 2013</a>
         <div class="nav-collapse collapse" id="mainmenu">
           <ul class="nav">{% show_menu 0 100 0 0 "mainmenu.html" %}</ul>
           <form method="GET" id="search" action="/search/" class="visible-desktop navbar-search pull-right">
             <input type="search" name="q" class="search-query" placeholder="Suchen..." />
           </form>
         </div>
      </div>
      <div id="dropout-menu" class="container hidden-phone">
        <div class="row">
          <div class="span3">
            <div>
              Zukunft.Dynamisch.Entwickeln
              <br />
              3. Deutsche Python-Konferenz
              <br />
              14. - 19. Oktober 2013, Köln
            </div>
            <div class="user-menu">
              <ul>
                <li>Meine Konferenz
                  <ul>
                    {% if user.is_authenticated %}
                      {% show_menu_below_id "proposals" %}
                      <li><a href="{% url userprofiles_profile_change %}">Mein Konto</a></li>
                      <li><a href="{% url auth_logout %}?next={{ request.path }}">Abmelden</a></li>
                    {% else %}
                      <li><a href="{% url auth_login %}?next={{ request.path }}">Anmelden</a></li>
                      <li><a href="{% url userprofiles_registration %}">Registrieren</a></li>
                  {% endif %}
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div class="span9">
            <ul>
              {% show_menu 0 1 2 100 %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    {% block page %}
    <div class="row" id="page">
      <div class="span8" id="content">
        {% block content_banner %}{% endblock %}
        {% block content_title %}
        <h1>{% block page_title %}{% if request.current_page %}{% page_attribute "page_title" %}{% endif %}{% endblock %}</h1>
        {% endblock %}
        <div id="content-main">{% block content %}{% endblock %}</div>
      </div>
      <div class="span3 pull-right">
        {% block sidebar_wrapper %}
        <a class="halo" href="/"><img src="{{ STATIC_URL }}images/logo-small.png" title="PyCon.DE 2013" /></a>
        {% block sidebar %}{% endblock %}
        {% endblock %}
      </div>
    </div>
    {% endblock %}
    <footer class="row hidden-phone">
      <div class="box span3">
        <h2>Impressum</h2>
      </div>
      <div class="box span3">
        <h2>Kontakt</h2>
        <p>Wenden Sie sich bei Fragen gerne per Post oder E-Mail an uns.</p>
      </div>
      <div class="box span3">
        <h2>Folgen Sie uns auch auf</h2>
        <ul class="social-links">
          <li><a class="twitter" href="http://twitter.com/pyconde">Twitter</a></li>
          <li><a class="facebook" href="https://www.facebook.com/events/282743508468358/">Facebook</a></li>
          <li><a class="googleplus" href="https://plus.google.com/u/0/105513231278038048004/">Google+</a></li>
          <li><a class="youtube" href="http://www.youtube.com/user/PyConDE">YouTube</a></li>
        </ul>
      </div>
    </footer>
  </div>

{% endblock %}
