@green: #1d8c2d;
@baseColor: #444;

// Font definitions
@bodyFont: "Verdana", "Helvetica Neue", Helvetica, Arial, sans-serif;
@baseFontSize: 13pt;
@headerFontSize: 21.34pt;
@header1FontSize: 22pt;
@normalFontSize: 13pt;
@smallFontSize: 11pt;

@rightPageMargin: 60px;

@import "bootstrap/less/variables";
@import "bootstrap/less/bootstrap";

@gridColumnWidth: 67px;
@linkColor: @green;


// Bootstrap overrides
.container {
  margin-left: 0;
  margin-right: 0;
}

// taken from https://github.com/twitter/bootstrap/issues/2742#issuecomment-7374060
@inputBorderFocus: @green;

textarea:focus, input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: fade(@inputBorderFocus, 80%);
  @shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px fade(@inputBorderFocus, 60%);
  .box-shadow(@shadow);
  outline: 0;
  outline: thin dotted \9; /* IE6-9 */
}


// styles

a {
    color: @linkColor;
}

body {
    font-size: @baseFontSize;
    font-family: @bodyFont;
    color: @baseColor;
    line-height: 1.6em;
    background: darken(#FAFAFA, 2%);
}

#page {
  border-right: 1px solid #ccc;
  background: #fafafa;
  margin-bottom: 50px;
  position: relative;
}

div.page-wrapper {
  -webkit-box-shadow: 5px -5px 10px -2px #888;
  box-shadow: 5px -5px 10px -2px #888;
}

header {
  background: url(../images/background.jpg) no-repeat 20px 0px;
  min-height: 330px;
  hgroup {
    margin: 30px auto 0 auto;
    h1, h2 {
      background: @green;
      color: #FFF;
      padding: 7px 7px 7px 20px;
      margin: 0 0 10px -10px;
      float: left;
      clear: left;
      font-size: @headerFontSize;
      a, a:hover {
        color: #FFF;
      }
    }
  }
}

#search {
    position: absolute;
    top: 5px;
    right: 5px;
}

#subheader {
  margin-top: -115px;
  margin-bottom: 5px;
  .logo {
    text-align: right;
  }
  .logo a {
    border: 0;
    display: inline-block;
    margin-right: @rightPageMargin;
  }
  img {
    border: 17px solid rgba(255, 255, 255, 0.5);
  }
  .aligned {
    margin-top: 115px;
  }
}

#mainmenu, nav {
  ul {
    list-style-type: none;
    margin-left: 0px;
    font-size: @smallFontSize;
    li.selected > a {
        font-weight: bold;
    }
    li {
      padding-bottom: 2px;
      a, .link-style {
        color: #fff;
        background: @green;
        color: #fff;
        padding: 3px 10px 3px 15px;
        font-weight: normal;
        display: inline-block;
        line-height: 25px;
        &:hover {
          color: #FFF;
        }
      }
      ul {
        margin-top: 4px;
        margin-bottom: 7px;
        li {
          a {
            font-size: 85%;
            line-height: 120%;
            background: none;
            color: @linkColor;
            font-weight: normal;
            padding: 3px 10px 3px 35px;
            &:hover {
              color: @linkColor;
            }
          }
        }
      }
    }
  }
}

#mainmenu ul {
    font-size: @normalFontSize;
}

// #breadcrumbs {
//   ul {
//     list-style-type: none;
//     margin-left: 0;
//     font-size: @baseFontSize * .9;
//     li {
//       display: inline;
//     }
//   }
// }

#main {
    margin-bottom: 40px;
    #grid > .core .row();
}
#sidebar, #content {
    float: left;
    margin-left: @gridGutterWidth;
}
footer .box {
    margin-left: @fluidGridGutterWidth;
}

#sidebar {
    #grid > .core .span(4);
}
#content {
    #grid > .core .span(8);
    > div {
        padding-right: @rightPageMargin;
    }
}

#content {
  h1 {
    margin-bottom: 25px;
    background: @green;
    color: #fff;
    padding: 5px;
    display: inline-block;
    font-size: @header1FontSize;
  }
  h2, h3, h4, h5, h6 {
    color: @green;
    font-size: @normalFontSize;
  }
  p {
    margin-top: .7em;
  }
  a {
    font-size: @smallFontSize;
  }
}

footer {
    background: @green;
    color: #fff;
    h2 {
        font-size: @normalFontSize;
        line-height: 100%;
        margin-bottom: 10px;
        text-transform: uppercase;
        min-height: 30px;
    }
    .content {
        #grid > .core .span(8);
        #grid > .core .offset(4);
    }
    .box {
        #grid > .fluid .span(4);
        float: left;
        padding: 20px 0;
        &:first-child {
            margin-left: 0;
        }
    }
}

ul.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    a {
        color: #FFF;
        padding-left: 26px;
        background-position: 0% 50%;
        background-repeat: no-repeat;
        display: block;
        line-height: 24px;
    }
    li {
        padding: 0;
    }
    .twitter {background-image:url("/static_media/images/twitter-16x16.png");}
    .googleplus {background-image:url("/static_media/images/google+-16x16.png");}
    .youtube {background-image:url("/static_media/images/youtube-16x16.png");}
    .facebook {background-image:url("/static_media/images/facebook-16x16.png");}
}

#content .pagination {
    .next, .prev, .pageinfo, a {
        display: inline-block;
        float: none;
        line-height: 34px;
        padding: 0 14px;
        font-size: @normalFontSize;
        border: none;
    }
    span.next, span.prev {
        color: #BBB;
    }
}

#sidebar {
    > aside > .cmsplugin,
    > aside > .tbox,
    > aside > a,
    > aside > img {
        display: block;
        padding: 0 15px 15px 15px;
        font-size: 90%;
        h2 {
            font-size: 16px;
        }
        ul > li {
            margin-bottom: 4px;
        }
    }
    .cmsplugin-news {
        .headline {display: block;}
        ul {
            list-style: none;
            margin-left: 0;
        }
    }
    .cmsplugin-twitter {
        ul.tweet_list {
            list-style: none;
            margin-left: 0; padding-left: 0;
            li {
                .avatar {
                    float:left;
                }
            }
        }
    }
}

.form-actions {
    background: transparent;
}

#content aside.content_footer {
    margin-top: 50px;
    h2 {
        font-size: 100%;
    }
}
.cmsplugin-sponsorlist, #sponsors, #organizers {
    position: relative;
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
        line-height: 75px;
        margin-right: 10px;
        width: 130px;
        height: 75px;
        vertical-align: middle;
        text-align: center;
    }
    img {
        max-height: 75px;
        max-width: 130px;
    }
    .slidesjs-pagination {
        position: absolute;
        right: -5px;
        top: 0px;
        width: 10px;
        li {
            width: 10px;
            height: 10px;
            padding: 0;
            margin: 0 0 2px 0;
            display: block;
        }
        a {
            width: 8px;
            height: 8px;
            border: 1px solid darken(@green, 10);
            overflow: hidden;
            display: block;
            background: lighten(@green, 30);
            color: #000;
            &.active {
                background: @green;
            }
        }
    }
}

#content_banner {
    margin-bottom: 50px;
    position: relative;
    
    h2 {
        position: absolute;
        top: -50px;
        left: 0px;
        font-size: 100%px;
    }
}

.ui-autocomplete-result > span {
    display: block;
}
ul.ui-autocomplete {
    list-style: none;
    padding: 5px;
    background: #FFF;
    max-width: 300px;
}

textarea {
    width: 400px;
    height: 350px;
}