@green: #1d8c2d;
@baseColor: #444;
@titleFont: Georgia, serif;
@bodyFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
@baseFontSize: 16px;

@import "bootstrap/less/variables";
@import "bootstrap/less/bootstrap";

// Bootstrap overrides
.container {
  margin-left: 0;
  margin-right: 0;
}

// taken from https://github.com/twitter/bootstrap/issues/2742#issuecomment-7374060
@inputBorderFocus: @green;

textarea:focus, input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: fade(@inputBorderFocus, 80%);
  @shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px fade(@inputBorderFocus, 60%);
  .box-shadow(@shadow);
  outline: 0;
  outline: thin dotted \9; /* IE6-9 */
}


// styles

a {
    color: darken(@green, 0);
}

body {
    font-size: @baseFontSize;
    font-family: @bodyFont;
    color: @baseColor;
    line-height: 1.6em;
    background: darken(#FAFAFA, 2%);
}

#page {
  border-right: 1px solid #ccc;
  background: #fafafa;
}

header {
  background: url(../images/background.jpg) no-repeat;
  min-height: 330px;
  hgroup {
    margin: 30px auto 0 auto;
    h1, h2 {
      background: @green;
      color: #FFF;
      padding: 7px 7px 7px 20px;
      margin: 0 0 10px -10px;
      float: left;
      clear: left;
      font-size: 18px;
    }
    h1 {
      font-size: 24px;
    }
  }
}

#subheader {
  margin-top: -115px;
  img {
    border: 17px solid rgba(255, 255, 255, 0.5);
  }
  .aligned {
    margin-top: 115px;
  }
}

#mainmenu, .nav {
  ul {
    list-style-type: none;
    margin-left: 0px;
    li {
      padding-bottom: 4px;
      line-height: 25px;
      a, .link-style {
        color: #fff;
        background: @green;
        color: #fff;
        padding: 3px 10px 3px 15px;
        margin-bottom: 5px;
        font-weight: bold;
      }
      ul {
        margin-top: 4px;
        margin-bottom: 7px;
        li {
          a {
            background: lighten(@green, 15%);
            color: #111;
            font-weight: normal;
            padding: 3px 10px 3px 35px;
          }
        }
      }
    }
  }
}

.nav {
  ul {
    margin-left: 10px;
    li {
      a {
        font-weight: normal;
      }
      input {
        font-size: @baseFontSize * .7;
        padding: 3px;
      }
    }
  }
}

#breadcrumbs {
  ul {
    list-style-type: none;
    margin-left: 0;
    font-size: @baseFontSize * .9;
    li {
      display: inline;
    }
  }
}

#content {
  padding-right: 10px;
  h1 {
    background: @green;
    color: #fff;
    padding: 5px;
    display: inline;
    font-size: @baseFontSize * 1.5;
  }
}

footer {
  background: @green;
  color: #fff;
}