{% extends "base.html" %}
{% load i18n markup thumbnail %}
{% block title %}{% trans "Our sponsors" %}{% endblock %}
{% block page_title %}{% trans "Our sponsors" %}{% endblock %}
{% block content %}
{% regroup sponsors by level as sponsors_list %}
<div class="sponsorship list">
  {% for level in sponsors_list %}
    {% with levelcount=level.list|length %}
    <div class="level level-{{ level.grouper.slug }} sponsorcount-{{ levelcount }}">
      <h2><span>{{ level.grouper.name }}</span></h2>
      <div class="row">
        {% for sponsor in level.list %}
          <div class="sponsor-item columns small-12 {% if levelcount > 1 %}large-6{% else %}large-12{% endif %} {% if forloop.last and not forloop.counter|divisibleby:"2" %}last{% endif %}">
            <h3><img alt="{{ sponsor.name }}" src="{% if forloop.last and not forloop.counter|divisibleby:"2" %}{% thumbnail sponsor.logo 250x250 upscale %}{% else %}{% thumbnail sponsor.logo 200x100 upscale %}{% endif %}" /></h3>
            <div class="desc">{{ sponsor.description|markdown:"safe" }}</div>
            <dl class="meta">
              <dt>{% trans "Website" %}</dt>
              <dd><a rel="external" target="_blank" title="{{ sponsor.name }}" href="{{ sponsor.external_url }}">{{ sponsor.external_url }}</a></dd>
            </dl>
          </div>
          {% if not forloop.last and forloop.counter|divisibleby:"2" %}
            </div>
            <div class="row">
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endwith %}
  {% endfor %}
</div>
{% endblock %}
