{% extends "cms/base.html" %}
{% load cms_tags %}

{% block body_main %}
<section>
    <div class="col12 clearfix" id="content">
        <div class="grid_12"><!-- Content -->
            <article>
                <div class="box post">
                    <h1>{{ current_page.get_title }}</h1>
                    <div class="entry">
                    {% block apphook %}
                        {% placeholder content %}
                    {% endblock %}
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
{% endblock %}
