{% load menu_tags i18n %}

<nav class="top-bar" data-topbar data-options="is_hover: false">
    <ul class="title-area"><li class="name"></li><li class="toggle-topbar menu-icon"><a href="#">Menu</a></li></ul>
    <section class="top-bar-section">
        <ul class="left">
            {% for child in children %}
                <li class="i {% if child.children %}has-dropdown{% endif %} {% if child.selected or child.ancestor %} active{% endif %}">
                    <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
                    {% if child.children %}
                        <ul class="dropdown">
                            {% for child in child.children %}
                                <li class="{% if child.children %}has-dropdown{% endif %} {% if child.selected or child.ancestor %} active{% endif %}">
                                    <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
            <li>
                <a href="#" onclick="$('.main-nav .dropdown').toggle()"><i class="fa fa-bars btn-toggle dropdown" style="display: block"></i><i class="fa fa-times btn-toggle dropdown"></i></a>
            </li>
        </ul>
    </section>
</nav>
<div class="dropdown hide row">
    <div class="small-1 columns lang"></div>
    <div class="small-11 columns text-right socialmedia">
        <span>{% trans "Join the conversation" %}</span>
        <span><a href="https://twitter.com/search?q=%23europython">#europython</a></span>
        <span><a href="https://twitter.com/europython" class="twitter"><i class="fa fa-twitter fa-lg"></i></a></span>
        <span><a href="https://www.facebook.com/europython" class="facebook"><i class="fa fa-facebook fa-lg"></i></a></span>
        <span><a href="https://plus.google.com/+Ep14Org" class="google-plus"><i class="fa fa-google-plus fa-lg"></i></a></span>
    </div>
</div>
