{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <h1>{% block page_title %}{% endblock %}</h1>
    {% if sessions %}
    <table>
        <thead>
            <tr>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Location" %}</th>
                <th>{% trans "Time" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessions %}
            <tr>
                <td><a href="{% url session session_pk=session.pk %}">{{ session.title }}</a></td>
                <td>{{ session.location }}</td>
                <td>{{ session.start|date:"DATE_FORMAT" }}: {{ session.start|time:"TIME_FORMAT" }} - {{ session.end|time:"TIME_FORMAT" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="empty">{% trans "No matching sessions found." %}</p>
    {% endif %}
{% endblock %}