{% extends "base.html" %}
{% load i18n account_tags %}

{% block content %}
    {% if sessions %}
        <table>
            <thead>
                <tr>
                    <th>{% trans "Title" %}</th>
                    <th>{% trans "Location" %}</th>
                    <th>{% trans "Time" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for session in sessions %}
                    <tr>
                        <td><a href="{% url 'session' session_pk=session.pk %}">{{ session.title }}</a><br/><span class="speakers">{{ session.speaker.user|full_name }}</span></td>
                        <td>{{ session.location_pretty }}</td>
                        <td>{{ session.start|date:"d/m/Y" }}<br/>{{ session.start|time:"H:i" }}&nbsp;-&nbsp;{{ session.end|time:"H:i" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="empty">{% trans "No matching sessions found." %}</p>
    {% endif %}
{% endblock %}
