{% extends "schedule/session_base.html" %}
{% load i18n markup speaker_tags embed_tags %}

{% block title %}{% trans "Session" %}: {{ session.title }}{% endblock %}
{% block page_title %}{% trans "Session" %}: {{ session.title }}{% endblock %}
{% block bodyclass %}sessionpage with-sidebar{% endblock %}

{% block details %}
    <article class="session">
        <div class="meta">
            {% if tags %}
                <dl class="tags"><dt>{% trans "Tags" %}:</dt><dd>
                    {% for tag in tags %}
                        <a href="{% url 'sessions_by_tag' tag=tag.name %}" rel="tag" class="tag">{{ tag.name }}</a>{% if not forloop.last %},  {% endif %}
                    {% endfor %}
                </dd></dl>
            {% endif %}
            {% if session.location.all %}
                <dl>
                    <dt>{% trans "Location" %}:</dt>
                    <dd>
                        {% for loc in session.location.all %}
                            <a href="{% url 'sessions_by_location' pk=loc.pk %}">{{ loc }}</a>{% if not forloop.first %}, {% endif %}
                        {% endfor %}
                    </dd>
                </dl>
            {% endif %}
            {% if session.start or session.end %}
                <dl>
                    <dt>{% trans "Duration" %}:</dt>
                    <dd>{{ session.start|date:"DATE_FORMAT" }} von {{ session.start|time:"H:i" }} - {{ session.end|time:"H:i" }}</dd>
                </dl>
            {% endif %}
            <dl>
                <dt>{% trans "Language" %}:</dt>
                <dd>{{ session.get_language_display }}</dd>
            </dl>
             {% if request.user.is_authenticated and session.kind.slug in attending_possible %}
                <dl>
                    <dt></dt>
                    <dd>
                        {% if not is_attending %}
                            {% if has_free_seats %}
                                <form action="{% url "session-attend" session_pk=session.pk %}" method="POST">{% csrf_token %}<input type="submit" class="btn btn-primary" value="{% trans "Attend this session" %}" />
                            {% else %}
                                {% trans "You cannot attend right now. There are no free seats left." %}
                            {% endif %}
                        {% else %}
                            <form action="{% url "session-leave" session_pk=session.pk %}" method="POST">{% csrf_token %}<input type="submit" class="btn btn-primary" value="{% trans "Do not attend anymore" %}" />
                        {% endif %}
                    </dd>
                </dl>
            {% endif %}
        </div>

        {% if session.kind.slug == "training" and session.description %}
            <div class="description">
                {{ session.description|markdown:"safe" }}
            </div>
        {% endif %}

        <div class="abstract">
            {{ session.abstract|markdown:"safe" }}
        </div>

        {% if session.slides_url %}
            <div class="slides">
                <h2>Folien</h2>
                {% embed_slides session.slides_url %}
            </div>
        {% endif %}

        {% if session.video_url %}
            <div class="video">
                <h2>Video</h2>
                {% embed_video session.video_url %}
            </div>
        {% endif %}
        {% if can_edit %}
            <div class="actions">
                <a class="btn" href="edit/"><i class="fa fa-fw fa-pencil"></i>{% trans "Edit" %}</a>
            </div>
        {% endif %}
    </article>
{% endblock %}

{% block sidebar %}
    <div id="speakers" class="box">
        <h2>{% trans "Speakers:" %}</h2>
        {% speaker_box session.speaker %}
        {% for speaker in session.additional_speakers.all %}
            {% speaker_box speaker %}
        {% endfor %}
    </div>
{% endblock %}
