{% extends "schedule/session_base.html" %}
{% load i18n markup embed_tags account_tags %}

{% block title %}{{ event.name }}{% endblock %}
{% block page_title %}{{ event.name }}{% endblock %}
{% block bodyclass %}sessionpage{% endblock %}

{% block content %}
    <article class="session">
        <div class="meta">
            {% with locations=event.location.all %}
                {% if locations|length > 0 %}
                    <dl>
                        <dt>{% trans "Location" %}:</dt>
                        <dd>
                            {% for loc in locations %}
                                <a href="{% url 'sessions_by_location' pk=loc.pk %}">{{ loc }}</a>{% if not forloop.first %}, {% endif %}
                            {% endfor %}
                        </dd>
                    </dl>
                {% endif %}
            {% endwith %}
            {% if event.start or event.end %}
                <dl>
                    <dt>{% trans "Duration" %}:</dt>
                    <dd>{{ event.start|date:"DATE_FORMAT" }} von {{ event.start|time:"H:i" }} - {{ event.end|time:"H:i" }}</dd>
                </dl>
            {% endif %}
        </div>

        <div class="description">
            {{ event.description|markdown:"safe" }}
        </div>
        {% if lightning_talks %}
            <div class="lightning_talks">
                <table>
                    <thead>
                        <tr>
                            <th>{% trans "Title" %}</th>
                            <th>{% trans "Speaker(s)" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for talk in lightning_talks %}
                        <tr>
                            <td>{% if talk.slides_url %}<a href="{{ talk.slides_url }}" rel="external">{{ talk.title }}</a>{% else %}{{ talk.title }}{% endif %}</td>
                            <td>{% for speaker in talk.speakers.all %}{{ speaker.user|display_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if event.video_url %}
            <div class="video">
                <h2>{% trans "Video" %}</h2>
                {% embed_video event.video_url %}
            </div>
        {% endif %}
        {% if can_admin %}
            <div class="actions">
                <a class="btn btn-danger" href="{% url "admin:schedule_sideevent_change" event.id %}"><i class="fa fa-fw fa-lock"></i>{% trans "Admin" %}</a>
            </div>
        {% endif %}
    </article>
{% endblock %}
