{% extends "schedule/session_base.html" %}
{% load i18n markup %}

{% block title %}{{ event.name }}{% endblock %}
{% block page_title %}{{ event.name }}{% endblock %}
{% block bodyclass %}sessionpage{% endblock %}

{% block content %}
    <article class="session">
        <div class="meta">
            {% with locations=event.location.all %}
                {% if locations|length > 0 %}
                    <dl>
                        <dt>{% trans "Location" %}:</dt>
                        <dd>
                            {% for loc in locations %}
                                <a href="{% url 'sessions_by_location' pk=loc.pk %}">{{ loc }}</a>{% if not forloop.first %}, {% endif %}
                            {% endfor %}
                        </dd>
                    </dl>
                {% endif %}
            {% endwith %}
            {% if event.start or event.end %}
                <dl>
                    <dt>{% trans "Duration" %}:</dt>
                    <dd>{{ event.start|date:"DATE_FORMAT" }} von {{ event.start|time:"H:i" }} - {{ event.end|time:"H:i" }}</dd>
                </dl>
            {% endif %}
        </div>

        <div class="description">
            {{ event.description|markdown:"safe" }}
        </div>
        {% if can_admin %}
            <div class="actions">
                <a class="btn danger" href="{% url "admin:schedule_sideevent_change" event.id %}"><i class="fa fa-fw fa-lock"></i>{% trans "Admin" %}</a>
            </div>
        {% endif %}
    </article>
{% endblock %}
