{% load sekizai_tags menu_tags compress %}
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html lang="de" class="no-js ie6"><![endif]-->
<!--[if IE 7]><html lang="de" class="no-js ie7"><![endif]-->
<!--[if IE 8]><html lang="de" class="no-js ie8"><![endif]-->
<!--[if IE 9]><html lang="de" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="de" class="no-js"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=1024" initial-scale=1.0">
    <title>{% block title %}Willkommen{% endblock %} - PyCon DE 2012 - 2. Deutsche Python-Konferenz</title>
    <meta name="author" content="Python Software Verband e.V.">
    <meta name="keywords" content="{% block meta_keywords %}Python, Pycon, Python Konferenz, Konferenz{% endblock %}">
    <meta name="description" content="{% block meta_description %}Die deutschsprachige Python-Konferenz PyCon DE findet vom 29.10. bis 03.11.2012 zum zweiten Mal in Leipzig statt.{% endblock %}">
    <meta property="og:title" content="PyCon DE 2012 - 2. Deutsche Python-Konferenz" />
    <meta property="og:site_name" content="PyCon DE 2012" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://{{ request.get_host }}/" />
    <meta property="og:image" content="http://{{ request.get_host }}{{ STATIC_URL }}images/logo-facebook.jpg" />
    <meta property="og:description" content="Die deutschsprachige Python-Konferenz PyCon DE findet vom 29.10. bis 03.11.2012 zum zweiten Mal in Leipzig statt." />
    <link rel="alternate" href="/news/feed/" type="application/atom+xml" title="PyCon DE 2012-News" />

    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">

    {% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style-2012.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom.css">
    {% endcompress %}
    {% render_block "css" %}

    {% compress js %}
    <script src="{{ STATIC_URL }}js/modernizr-2.0.6.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
    {% endcompress %}
    {% render_block "js" %}

    {% block extra_head %}{% endblock %}
</head>
<body class="{% block bodycls %}{% endblock %}">
    {% block abovepage %}
    {% endblock %}

    <div id="portal-wrapper">
    <header>
        <div class="col12 clearfix">
            <div class="grid_12" id="header">
                <div class="grid_8 alpha" id="pyconlogo">
                    <h1><a href="/">PyCON DE 2012</a></h1>
                </div>
                <img width="1" height="1" src="{{ STATIC_URL }}images/logo-2012.png" id="pyconlogo_print" alt="" />
                <div class="grid_4 omega" id="siteaction">
                    <span>
                        <a href="/impressum/">Kontakt</a> |
                        {% if request.user.is_authenticated %}
                            <a href="{% url userprofiles_profile %}">{{ user.username }}</a> (<a href="{% url auth_logout %}?next={{ request.path }}">Abmelden</a>)
                            {% if request.user.is_staff %}
                                | <a href="{% url admin:index %}" target="_blank">Admin</a>
                            {% endif %}
                            </span>
                            <br/>
                            <span>
                                <a href="{% url userprofiles_profile_change %}">Profil ändern</a>
                                | <a href="{% url auth_password_change %}">Passwort ändern</a>
                        {% else %}
                            <a href="{% url auth_login %}?next={{ request.path }}">Anmelden</a>
                            | <a href="{% url userprofiles_registration %}">Registrieren</a>
                        {% endif %}
                    </span>
                </div>
                <div class="header-data"><img src="{{ STATIC_URL }}images/leipzig-2012.png" alt="Leipzig - 29.10-03.11.2012" /></div>
                <div class="callout">
                    <!-- Placeholder for callout box -->
                </div>
            </div>
        </div>
    </header>

    <div class="{% block body_class %}{% endblock %}" id="main">
    {% block body_outer %}
        {% if messages %}
        <div class="col12 clearfix">
            <div class="grid_12" id="messages">
                <ul>
                    {% for message in messages %}
                    <li id="message_{{ forloop.counter }}"{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <section>
            <div class="col12 clearfix" id="content">
                <div class="grid_4"><!-- Sidebar -->
                    {% show_menu 0 1 1 1 "cms/navigation.html" %}
                    {% block sidebar %}
                    {% endblock %}
                </div>
                <div class="grid_8"><!-- Content -->
                    {% block contentwrapper %}
                    <article>
                        <div class="box post">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </article>
                    {% endblock %}
                </div>
            </div>
        </section>

        <div class="clearfix"></div>
    {% endblock %}
    </div>

    <footer>
        <div class="col12 clearfix">
            <div class="grid_12" id="footer">
                {% block footer %}
                <div class="sitemap">
                    <div class="boxf first">
                        <ul>
                            <li><a href="/impressum/">Impressum</a></li>
                            <li><a href="http://twitter.com/pyconde" rel="external">Twitter</a></li>
                            <li><a href="http://www.youtube.com/user/PyConDE" rel="external">PyCon DE auf YouTube</a></li>
                        </ul>
                    </div>
                    <div class="boxf second">
                    </div>
                    <div class="boxf last">
                        <ul class="noTransform">
                            <li><a href="http://www.python.org/" title="Python Programming Language - Official Website" rel="external">Python Programming Language</a></li>
                            <li><a href="http://python-verband.org/" title="Python Software Verband" rel="external">Python Software Verband e.V.</a></li>
                            <li><a href="http://www.python.de/" title="Python.de" rel="external">Python.de</a></li>
                            <li><a href="http://www.europython.eu/" title="EuroPython - the official European conference about the Python programming language" rel="external">EuroPython</a></li>
                        </ul>
                        <p class="noTransform">&copy; 2012 PyCon DE</p>
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
    </footer>
    </div>
    <!--[if lt IE 7 ]>
        <script src="{{ STATIC_URL }}js/libs/dd_belatedpng.js"></script>
        <script>DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images</script>
    <![endif]-->
</body>
</html>
