{% extends "base.html" %}
{% load crispy_forms_tags i18n %}
{% block title %}{% trans "Registration" %}{% endblock %}
{% block pagetitle %}{% trans "Registration" %}{% endblock %}
{% block content %}
    <div id="info">{% blocktrans %}<p>Please provide a valid e-mail address. The main way of sending out notifications and updates is via e-mail.</p><p>If you enter an e-mail address in the form below, an activation e-mail will be sent to this address. You can always change your e-mail address in the profile section of the site.</p>{% endblocktrans %}</div>

    {% crispy form %}
{% endblock %}