{% extends "base.html" %}
{% load i18n %}

{% block title %}Tickets für Konferenz und Tutorials{% endblock %}

{% block content %}
    <h1>Tickets für Konferenz und Tutorials</h1>
    <h2>Ticketkauf abgeschlossen</h2>
    <p>Vielen Dank für den Kauf der Tickets für die Konferenz! Du wirst in Kürze eine Rechnung und die Zahlungsinformationen per E-Mail erhalten.</p>
    <p>Bei Rückfragen zur Bestellung, Rechnung oder zur Zahlung kannst du uns jederzeit erreichen:</p>
    <ul>
        <li>info@de.pycon.org</li>
        <li>#pyconde Channel auf irc.freenode.net (IRC)</li>
        <li>@pyconde (Twitter)</li>
    </ul>
    <p><br /></p>
{% endblock %}
