{% extends "proposals/base.html" %}
{% load sekizai_tags %}

{% block bodycls %}proposal-form{% endblock %}

{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Submit a proposal" %}{% endblock %}

{% block body %}
{% addtoblock "css_external" %}
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css" />
{% endaddtoblock %}
{% addtoblock "js_external" %}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
{% endaddtoblock %}
{% crispy form %}
{% endblock %}