{% extends "proposals/proposal_form.html" %}

{% load i18n %}

{% block title %}{% trans "Submit a training" %}{% endblock %}

{% block body %}
<div class="intro">
<p>
{% blocktrans %}
A training is not a lecture. A training is more a hands-on workshop where
participants get the opportunity to do something on their own laptop,
following the lead of a coach. You should keep in mind that exercises that you
can solve in a few minutes often take 5 to 10 times longer for beginners, since
they need to learn the basic steps first.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
Participants should receive courseware as either PDF or printed material. This
should be as detailed as necessary for a participant to understand the training
content independently.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
For questions about training content or how to create a training please contact
<a href="mailto:helpdesk@europython.eu">helpdesk@europython.eu</a>.
{% endblocktrans %}
</p>
</div>

{{ block.super }}
{% endblock %}
