{% extends "cms/default.html" %}
{% load i18n sekizai_tags sponsorship_tags cms_tags %}
{% block bodycls %}frontpage with-headeraddon{% endblock %}
{% block page %}
<div class="row postcard">
    <img class="halo pull-right hidden-phone" src="{{ STATIC_URL }}images/PostkartePyConDE-Logo-big.png" />
    <h1><span>Zukunft.Dynamisch.Entwickeln</span></h1>
    <h2 class="highlight"><span>3. Deutsche Python-Konferenz</span></h2>
    <h2 class="highlight"><span>14. - 19. Oktober 2013, Köln</span></h2>
</div>
<div id="page">
<div class="row">
<div id="content-main" class="span7">
    {% block content %}
        {% block apphook %}
            {% placeholder content %}
        {% endblock %}
    {% endblock %}
</div>
<div id="sidebar" class="span5"><aside>
    {% placeholder sidebar %}
</aside></div>
</div>
</div>
{% endblock %}
