{% load i18n %}
<div class="cmsplugin-news">
    {% if latest %}
        {% for news in latest %}
            <div class="content">
                <h5><a href="{{ news.get_absolute_url }}">{{ news.title }}</a></h5>
                <span class="pub_date">{{ news.pub_date|date:"DATE_FORMAT" }}</span>
                {% if news.excerpt %}
                    <p>{{ news.excerpt|safe }}</p>
                {% endif %}
                <p><a href="{{ news.get_absolute_url }}" class="more">mehr</a></p>
            </div>
        {% endfor %}
    {% else %}
        <div class="content">
            <p class="empty">{% trans "No news yet" %}</p>
        </div>
    {% endif %}
</div>
