{% extends "site_base.html" %}
{% load crispy_forms_tags i18n %}
{% block title %}Session editieren: {{ session.title }}{% endblock %}
{% block content %}
    <h1>Session editieren: <a href="{{ session.get_absolute_url }}">{{ session.title }}</a></h1>
    {% crispy form %}
{% endblock %}
{% block sidebar %}
<div class="box">
    <h2>Über die Session</h2>
    <div>
    {% if session.tags %}
    <dl class="tags"><dt>{% trans "Tags:" %}</dt><dd>
        {% for tag in session.tags.all %}
        <a href="{% url sessions_by_tag tag=tag.name %}" rel="tag" class="tag">{{ tag.name }}</a>{% if not forloop.last %},  {% endif %}
        {% endfor %}
    </dd></dl>
    {% endif %}
    {% if session.start %}
    <dl>
        <dt>{% trans "Date:" %}</dt>
        <dd>{{ session.start|date:"DATE_FORMAT" }}</dd>
    </dl>
    {% endif %}
    {% if session.start or session.end %}
    <dl>
        <dt>{% trans "Time:" %}</dt>
        <dd>
            {{ session.start|time:"TIME_FORMAT" }} - {{ session.end|time:"TIME_FORMAT" }}
        </dd>
    </dl>
    {% endif %}
    {% if session.location %}
    <dl>
        <dt>{% trans "Location:" %}</dt>
        <dd>{{ session.location }}</dd>
    </dl>
    {% endif %}
    </div>
</div>
{% endblock %}