{% extends "cms/page_templates/fullpage.html" %}
{% block apphook %}
{% for section, grid in schedule.items %}
<h2><img src="{{ STATIC_URL }}images/{{ section.slug }}.png" alt="{{ section.name }}" /></h2>
{% for day in grid.1 %}

<table class="schedule {{ section.slug }}">
    <caption>{{ day.day|date }}</caption>
    <thead>
        <tr>
            <th>Zeit</th>
            {% for loc in grid.0 %}
            <th>{{ loc.name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in day.rows %}
        <tr{% if row.is_pause_row %} class="pause"{% endif %}>
            <td class="timetable">{{ row.start|time:'H:i' }} - {{ row.end|time:'H:i' }}</td>
            {% for evt in row.get_renderable_cells %}
                {% if evt.is_empty %}
                    <td>&nbsp;</td>
                {% else %}
                    {% if evt.is_global %}
                    <td class="filled global" rowspan="{{ evt.rowspan }}" colspan="{{ grid.0|length }}"><a href="{{ evt.url }}">{{ evt.event }}</a></td>
                    {% else %}
                    <td class="filled" rowspan="{{ evt.rowspan }}">
                        <a href="{{ evt.url }}">{{ evt.name }}</a><br />
                        {% if evt.speakers %}von {{ evt.speakers|join:', ' }}{% endif %}
                        {% if evt.level_name %}für {{ evt.level_name }}{% endif %}
                        {% if evt.track_name %}im Track {{ evt.track_name }}{% endif %}
                    </td>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}{# row #}
    </tbody>
</table>
{% endfor %}{# day #}
{% endfor %}{# section #}



{% endblock %}