{% extends "cms/page_templates/fullpage.html" %}
{% block apphook %}
{% for section, grid in schedule.items %}
<h2><img src="{{ STATIC_URL }}images/{{ section.slug }}.png" alt="{{ section.name }}" /></h2>
{% for day in grid.1 %}
<table class="schedule">
    <caption>{{ day.day|date }}</caption>
    <thead>
        <tr>
            <th>Zeit</th>
            {% for loc in grid.0 %}
            <th>{{ loc.name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in day.rows %}
        <tr{% if row.is_pause_row %} class="pause"{% endif %}>
            <td class="timetable">{{ row.start|time:'H:i' }} - {{ row.end|time:'H:i' }}</td>
            {% for evt in row.events %}
                {% if evt.is_global %}
                <td rowspan="{{ evt.rowspan }}" colspan="{{ grid.0|length }}">{{ evt.event }}</td>
                {% else %}
                <td rowspan="{{ evt.rowspan }}">
                    <a href="{{ evt.url }}">{{ evt.name }}</a><br />
                    {% if evt.speakers %}von {{ evt.speakers|join:', ' }}{% endif %}
                    {% if evt.level_name %}für {{ evt.level_name }}{% endif %}
                    {% if evt.track_name %}im Track {{ evt.track_name }}{% endif %}
                </td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endfor %}
{% endblock %}