{% extends "site_base.html" %}
{% load i18n account_tags thumbnail markup helper_tags %}

{% block title %}{{ userobj|display_name }}{% endblock %}
{% block page_title %}{% trans "User profile:" %} {{ userobj|display_name }}{% endblock %}

{% block bodyclass %}profilepage{% endblock %}
{% block site_title %}{% endblock %}
{% block body %}
<div class="profile">
  <div class="misc">
    <div class="avatar">
      {% avatar profile width=150 %}
    </div>
  </div>
  <div class="info">
      <h1>{{ userobj|display_name }}</h1>
      <p class="infoline">
        {% if profile.twitter %}
        <a href="https://twitter.com/{{ profile.twitter }}" rel="external"><i class="fa fa-fw fa-twitter"></i> @{{ profile.twitter }}</a>
        {% endif %}

        {% if profile.website %}
        <a href="{{ profile.website }}" rel="external"><i class="fa fa-fw fa-link"></i> {{ profile.website|domain }}</a>
        {% endif %}

        {% if profile.organisation %}
        <span><i class="fa fa-fw fa-building-o"></i> {{ profile.organisation }}</span>
        {% endif %}
      </p>
    {% if profile.short_info %}
      {{ profile.short_info|markdown:"safe" }}
    {% else %}
      <p class="empty">{% trans "No info available" %}</p>
    {% endif %}
    {% if interests %}
    <p class="interests"><span>{% trans "Interested in" %}</span> {% for tag in interests %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    {% endif %}
    {% if sessions %}
      <section class="sessions">
        <h2>{% trans "Sessions" %}</h2>
        <ul>
          {% for session in sessions %}
            <li><a href="{{ session.get_absolute_url }}">{{ session.title }}</a></li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
  </div>
</div>
{% endblock %}
