{% extends "site_base.html" %}
{% load i18n account_tags thumbnail markup %}

{% block title %}{{ userobj|display_name }}{% endblock %}
{% block page_title %}{% trans "User profile:" %} {{ userobj|display_name }}{% endblock %}

{% block bodyclass %}profilepage{% endblock %}
{% block body %}
<div class="profile">
  <div class="misc">
    <div class="avatar">
    {% avatar profile %}
    </div>
    {% if profile.twitter %}
    <dl>
      <dt>{% trans "Twitter" %}:</dt>
      <dd><a href="https://twitter.com/{{ profile.twitter }}">@{{ profile.twitter }}</a>
    </dl>
    {% endif %}
    {% if profile.website %}
    <dl>
      <dt>{% trans "Website" %}:</dt>
      <dd><a href="{{ profile.website }}">{{ profile.website }}</a></dd>
    </dl>
    {% endif %}
    {% if profile.website %}
    <dl>
      <dt>{% trans "Organisation" %}:</dt>
      <dd>{{ profile.organisation }}</dd>
    </dl>
    {% endif %}
  </div>
  <div class="info">
    {% if profile.short_info %}
      {{ profile.short_info|markdown:"safe" }}
    {% else %}
      <p class="empty">{% trans "No info available" %}</p>
    {% endif %}
  </div>
  {% if sessions %}
    <section class="sessions">
      <h1>{% trans "Sessions" %}</h1>
      <ul>
        {% for session in sessions %}
          <li><a href="{{ session.get_absolute_url }}">{{ session.title }}</a></li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
</div>
{% endblock %}
