{% extends 'checkin/base.html' %}
{% load i18n checkin_tags %}

{% block title %}{% trans "Check-in Search" %}{% endblock %}
{% block page_title %}{% trans "Check-in Search" %}{% endblock %}

{% block content %}
  <div class="checkin">
    {{ block.super }}
    {% if results %}
      <table class="searchresults">
        <thead>
          <tr>
            <th>{% trans "Ticket" %}</th>
            <th>{% trans "Purchase" %}</th>
            <th>{% trans "Buyer" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for result in results %}
            <tr>
              <td>
                <dl>
                  <dt>{% trans "Ticket" %}: </dt>
                  <dd>{% highlight result.ticket.id %}</dd>
                  <dt>{% trans "User ID" %}: </dt>
                  <dd>{% highlight result.ticket.user_id %}</dd>
                  <dt>{% trans "Username" %}: </dt>
                  <dd>{% highlight result.ticket.username %}</dd>
                  <dt>{% trans "Email" %}: </dt>
                  <dd>{% highlight result.ticket.email %}</dd>
                  <dt>{% trans "Full name" %}: </dt>
                  <dd>{% highlight result.ticket.full_name %}</dd>
                  <dt>{% trans "Display name" %}: </dt>
                  <dd>{% highlight result.ticket.display_name %}</dd>
                </dl>
              </td>
              <td>
                <dl>
                  <dt>{% trans "Purchase" %}: </dt>
                  <dd>{% highlight result.purchase.id %}</dd>
                  <dt>{% trans "Invoice" %}: </dt>
                  <dd>{% highlight result.purchase.invoice_number %}</dd>
                  <dt>{% trans "Company" %}: </dt>
                  <dd>{% highlight result.purchase.company_name %}</dd>
                  <dt>{% trans "Name" %}: </dt>
                  <dd>{% highlight result.purchase.name %}</dd>
                  <dt>{% trans "Email" %}: </dt>
                  <dd>{% highlight result.purchase.email %}</dd>
                </dl>
              </td>
              <td>
                <dl>
                  <dt>{% trans "User ID" %}: </dt>
                  <dd>{% highlight result.buyer.user_id %}</dd>
                  <dt>{% trans "Username" %}: </dt>
                  <dd>{% highlight result.buyer.username %}</dd>
                  <dt>{% trans "Email" %}: </dt>
                  <dd>{% highlight result.buyer.email %}</dd>
                  <dt>{% trans "Full name" %}: </dt>
                  <dd>{% highlight result.buyer.full_name %}</dd>
                  <dt>{% trans "Display name" %}: </dt>
                  <dd>{% highlight result.buyer.display_name %}</dd>
                </dl>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>{% trans "No search results" %}</p>
    {% endif %}
  </div>
{% endblock %}
