{% extends 'checkin/base.html' %}
{% load i18n checkin_tags %}

{% block page_title %}{% trans "Check-in Search" %}{% endblock %}

{% block content %}
  <div class="checkin">
    {{ block.super }}
    {% if results %}
      <table class="searchresults">
        <thead>
          <tr>
            <th style="width: 15%"></th>
            <th class="left-border">{% trans "Assigned" %}</th>
            <th class="left-border">{% trans "Owner" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for result in results %}
            <tr>
              <td>
                <dl>
                  <dt>{% trans "Ticket" %}: </dt>
                  <dd>{% highlight result.ticket_id %}</dd>
                  <dt>{% trans "Purchase" %}: </dt>
                  <dd>{% highlight result.purchase_id %}</dd>
                  <dt>{% trans "Invoice" %}: </dt>
                  <dd>{% highlight result.invoice_number %}</dd>
                </dl>
              </td>
              <td class="left-border">
                <dl>
                  <dt>{% trans "User ID" %}: </dt>
                  <dd>{% highlight result.assigned.user_id %}</dd>
                  <dt>{% trans "Username" %}: </dt>
                  <dd>{% highlight result.assigned.username %}</dd>
                  <dt>{% trans "Email" %}: </dt>
                  <dd>{% highlight result.assigned.email %}</dd>
                  <dt>{% trans "Full name" %}: </dt>
                  <dd>{% highlight result.assigned.full_name %}</dd>
                  <dt>{% trans "Display name" %}: </dt>
                  <dd>{% highlight result.assigned.display_name %}</dd>
                </dl>
              </td>
              <td class="left-border">
                <dl>
                  <dt>{% trans "User ID" %}: </dt>
                  <dd>{% highlight result.owner.user_id %}</dd>
                  <dt>{% trans "Username" %}: </dt>
                  <dd>{% highlight result.owner.username %}</dd>
                  <dt>{% trans "Email" %}: </dt>
                  <dd>{% highlight result.owner.email %}</dd>
                  <dt>{% trans "Full name" %}: </dt>
                  <dd>{% highlight result.owner.full_name %}</dd>
                  <dt>{% trans "Display name" %}: </dt>
                  <dd>{% highlight result.owner.display_name %}</dd>
                </dl>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>{% trans "No search results" %}</p>
    {% endif %}
  </div>
{% endblock %}
