{% extends "site_base.html" %}
{% block top_notices %}
    {% if review_outdated %}
    <div id="message_outdated" class="alert alert-danger">
        Seit Ihrer Review wurde der Vorschlag aktualisiert.
    </div>
    {% endif %}
    {% if not current_conference.get_reviews_active %}
    <div id="message_outdated" class="alert alert-warning">
        Die Review-Phase ist beendet. Sie können keine Kommentare oder Reviews mehr abgeben bzw. Vorschläge abändern.
    </div>
    {% endif %}
{% endblock %}