{% extends "reviews/base.html" %}
{% block title %}Meine Vorschläge in Review{% endblock %}
{% block content %}
    <h1>{% block content_title %}Meine Vorschläge in Review{% endblock %}</h1>
    {% block description %}
    <p>Hier sehen Sie alle Ihre Vorschläge im Review-Kontext.</p>
    {% endblock %}
    <table>
        <thead>
            <tr>
                <th>Titel</th>
                <th># Kommentare</th>
                <th>Letzte Aktivität</th>
            </tr>
        </thead>
        <tbody>
            {% for proposal in proposals %}
            <tr>
                <td><a href="{% url reviews-proposal-details pk=proposal.proposal.pk %}">{{ proposal.title }}</a></td>
                <td>{{ proposal.num_comments }}</td>
                <td>{% if proposal.latest_comment_date %}{{ proposal.latest_comment_date }}{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}