{% extends "reviews/base.html" %}
{% load markup crispy_forms_tags %}
{% block content %}
    <h1>Proposal-Details: {{ proposal.title }}</h1>
    {% if proposal_version %}
        <a href="{{ proposal.get_absolute_url }}">Zum Original</a>
    {% endif %}
    <h2>Aktuelle Version</h2>
    <div class="description">
        {% if proposal_version %}
            {{ proposal_version.description|markdown:"safe" }}
        {% else %}
            {{ proposal.description|markdown:"safe" }}
        {% endif %}
    </div>

    <div class="abstract">
        {% if proposal_version %}
            {{ proposal_version.abstract|markdown:"safe" }}
        {% else %}
            {{ proposal.abstract|markdown:"safe" }}
        {% endif %}
    </div>
    <a href="{% url reviews-update-proposal pk=proposal.pk %}">Ändern</a>
    {% if timeline %}
        <ul id="timeline">
        {% for item in timeline %}
            <li class="timeline-item timeline-item-{{ item.type }}">
                <dl>
                {% if item.type == 'comment' %}
                    <dt>{{ item.item.pub_date }}</dt>
                    <dd>{{ item.item.content|markdown:"safe" }}</dd>
                {% else %}
                    <dt>{{ item.item.pub_date }}</dt>
                    <dd>{{ item.item.creator }} hat das Proposal aktualisiert.</dd>
                {% endif %}
                </dl>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    <h2>Kommentar:</h2>
    {% crispy comment_form %}
{% endblock %}
{% block sidebar %}
    {% if can_review %}
    <div class="tbox">
        {% if not user_review %}
            <a href="{% url reviews-review-proposal pk=proposal.pk %}">Bewerten</a>
        {% else %}
            <span class="rating">{{ user_review.rating }}</span>
            <div class="summary">{{ user_review.summary|markdown:"safe" }}</div>
            <a href="{% url reviews-update-review pk=proposal.pk %}">Bewertung aktualisieren</a>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}