{% extends "reviews/base.html" %}
{% block title %}Reviewbare Vorschläge{% endblock %}
{% block content %}
    <h1>{% block content_title %}Reviewbare Vorschläge{% endblock %}</h1>
    {% block description %}
    <p>Diese Seite zeigt Ihnen alle Session-Vorschläge, die bewertet können, zusammen mit der Anzahl der
        bereits abgegeben Bewertungen.</p>
    {% endblock %}
    <table>
        <thead>
            <tr>
                <th class="orderable"><a href="?order={% if order == 'title' %}-{% endif %}title">Titel</a>
                    {% if order == "-title" %}<i class="icon-chevron-down"></i>{% endif %}{% if order == "title" %}<i class="icon-chevron-up"></i>{% endif %}</th>
                <th class="orderable"><a href="?order={% if order == 'reviews' %}-{% endif %}reviews"># Reviews</a>
                    {% if order == "-reviews" %}<i class="icon-chevron-down"></i>{% endif %}{% if order == "reviews" %}<i class="icon-chevron-up"></i>{% endif %}</th>
                <th class="orderable"><a href="?order={% if order == 'comments' %}-{% endif %}comments"># Kommentare</a>
                    {% if order == "-comments" %}<i class="icon-chevron-down"></i>{% endif %}{% if order == "comments" %}<i class="icon-chevron-up"></i>{% endif %}</th>
                <th class="orderable"><a href="?order={% if order == 'activity' %}-{% endif %}activity">Letzte Aktivität</a>
                    {% if order == "-activity" %}<i class="icon-chevron-down"></i>{% endif %}{% if order == "activity" %}<i class="icon-chevron-up"></i>{% endif %}</th>
            </tr>
        </thead>
        <tbody>
            {% for proposal in proposals %}
            <tr>
                <td><a href="{% url reviews-proposal-details pk=proposal.proposal.pk %}">{{ proposal.title }}</a></td>
                <td>{{ proposal.num_reviews }}</td>
                <td>{{ proposal.num_comments }}</td>
                <td>{% if proposal.latest_activity_date %}{{ proposal.latest_activity_date }}{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}