{% extends "reviews/base.html" %}
{% block content %}
    <h1>Verfügbare Session-Vorschläge</h1>
    <table>
        <thead>
            <tr>
                <th>Titel</th>
                <th># Reviews</th>
                <th># Kommentare</th>
                <th>Letzte Aktivität</th>
            </tr>
        </thead>
        <tbody>
            {% for proposal in proposals %}
            <tr>
                <td><a href="{% url reviews-proposal-details pk=proposal.pk %}">{{ proposal.title }}</a></td>
                <td>{{ proposal.review_metadata.num_reviews }}</td>
                <td>{{ proposal.review_metadata.num_comments }}</td>
                <td>{{ proposal.review_metadata.latest_activity_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}